html {
  height: 100%;
}

body {
  font-family: Ubuntu, roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: 30px;
  color: #252530;
  margin: 30px 0 0 0;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  background: url('/media/rehydrate-bg.png') 0 0 no-repeat,
    linear-gradient(180deg, rgba(131,109,175,1) 0%, rgba(255,255,255,1) 50%) no-repeat;
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat-x: repeat;
}

body > * {
  width: 40rem;
  max-width: 100%;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: #252530;
  /*! font-weight: bold; */
}

a:visited {
  color: #282525;
}

footer {
  padding: 1em;
  font-size: 0.8em;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.time-stamp {
  margin-top: 1em;
  font-size: 0.6em;
  text-align: right;
}

.entry-meta {
  color: hsl(41, 10%, 20%);
  /*! font-weight: bold; */
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: 1em;
  font-weight: normal;
}

.pane video {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.media-list {
  padding: 0;
  margin: 0;
}

.media-list .pane {
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  border: #666 4px solid;
}

.pane img {
  width: 100%;
  height: auto;
  image-orientation: from-image;
  object-fit: contain;
}

.media-list .pane h4:first-child {
  margin-top: 0;
}

.media-list li {
  margin-bottom: 1em;
}

.media-list h3 {
  font-weight: 200;
}

.media-list h4 {
  font-weight: 200;
  margin-bottom: 0.5em;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  font-family: futura;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

header img {
  max-width: 100vw;
  max-height: 97.2vw;
  width: 360px;
  height: 350px;
  border-radius: 8px;
}

#main-header {
  text-align: center;
  width: 100%;
}

#main-header h1 {
  width: 100%;
}

header h1 {
  font-size: 4rem;
  flex-grow: 1;
  margin: 0;
  width: 50%;
}

.middle {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 30em;
}

.podcast-summary {
}

.listening-directions {
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.25em;
  /* border: hsla(152.2, 77.4%, 38.2%, 0.8) 3px solid; */
  border: hsla(210, 80%, 66%, 0.8) 4px solid;
}

.platform-directions {
  font-size: 0.8em;
}

.separator {
  width: 50%;
  border: none;
  border-top-style: solid;
  border-top-color: #302525;
  border-top-width: 1px;
}

.episode-player {
  margin-bottom: 1em;
}

.episode-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.findings-list {
  margin-top: 1em;
}

.findings-list li {
  margin-bottom: 1rem;
}

.finding-links {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.comment-info {
  margin-top: 2rem;
}

.host-name {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pane > dl > dt {
  font-weight: bold;
  text-align: center;
}

dt {
  font-size: 1.5rem;
}

dd {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.bigger-link {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  display: block;
}

@media all and (max-width: 586px) {
  body {
    font-size: 12px;
  }

  header h1 {
    font-size: 3em;
    margin-left: 0;
    text-align: center;
  }
}
