html {
  height: 100%;
}

body {
  font-family: Ubuntu, roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: 30px;
  color: #302525;
  background-color: #fff;
  margin: 0;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: #302525;
  /*! font-weight: bold; */
}

a:visited {
  color: #252528;
}

footer {
  padding: 1em;
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.time-stamp {
  margin-top: 1em;
  font-size: 0.6em;
  text-align: right;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  /*! font-weight: bold; */
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: 1em;
  font-weight: normal;
}

.pane video {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.media-list {
  padding: 0;
  margin: 0;
}

.media-list .pane {
  margin-bottom: 1em;
  background-color: hsla(0, 70%, 16.7%, 0.05);
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.pane img {
  width: 100%;
  height: auto;
  image-orientation: from-image;
  object-fit: contain;
}

.media-list .pane h4:first-child {
  margin-top: 0;
}

.media-list li {
  margin-bottom: 1em;
}

.media-list h3 {
  font-weight: 200;
}

.media-list h4 {
  font-weight: 200;
  margin-bottom: 0.5em;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  font-family: futura;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

header img {
  max-width: 100vw;
  max-height: 97.2vw;
  width: 360px;
  height: 350px;
  border-radius: 8px;
}

header h1 {
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
  margin-left: 0.5em;
  width: 50%;
}

.middle {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 30em;
}

.podcast-summary {
}

.listening-directions {
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.25em;
  border: hsla(0, 80%, 66%, 0.8) 3px solid;
}

.platform-directions {
  font-size: 0.8em;
}

.separator {
  width: 50%;
  border: none;
  border-top-style: solid;
  border-top-color: #302525;
  border-top-width: 1px;
}

.episode-player {
  margin-bottom: 1em;
}

.episode-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.findings-list {
  margin-top: 1em;
}

.findings-list li {
  margin-bottom: 1rem;
}

.finding-links {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.comment-info {
  margin-top: 2rem;
}

@media all and (max-width: 586px) {
  body {
    font-size: 12px;
  }

  header h1 {
    font-size: 3em;
    margin-left: 0;
    text-align: center;
  }
}
