---
layout: layouts/main.njk
title: Rehydrate
---

<section class="middle">
  <div class="podcast-summary">
    <p>A podcast where we discuss books, music, and other media.</p>
  </div>

  <section id="how-to-listen">
    <div class="listening-directions" style="text-align: center">
        <span>Subscribe &amp; Listen</span>
        <ul>
        <p>
        <li><a href="https://podcasts.apple.com/us/podcast/rehydrate/id1540884633">Apple Podcasts</a></li>
        <span class="dot">&middot;</span>
        <li><a href="https://pca.st/5w38zj1a">Pocket Casts</a></li>
        <span class="dot">&middot;</span>
        <li><a href="https://overcast.fm/itunes1540884633/rehydrate">Overcast</a></li>
        </p>
        <p />
        <li><a href="rss.xml">RSS</a>
        <br />
        <span style="font-size: 0.75em">
          (Use with most podcast apps)
        </span>
        </li>
        </ul>
    </div>
  </section>

  <h2>Episodes (<a href="/reading-list">Reading List</a>)</h2>
  <section class="media">
    <ul class="media-list centered-col">
      {%- for episode in collections.episodes -%}
        {% set src = episode.data.stuff %}
        {% include 'index-episode-pane.njk' %}
      {%- endfor -%}
    </ul>
  </section>

  <h3>Three-Body Problem / Remembrance of Earth's Past Pronunciation List</h3>
  <a href="/pronunciations">List of character names</a> from the Remembrance of Earth's Past series and their pronunciations
</section>
