---
layout: layouts/main.njk
title: Rehydrate - Reading List
pageHeading: Reading List
---
<div id="reading-list">
  <b><i>Important Note:</i></b> Page numbers are based on the US, paperback version of the series. If you are using other print or electronic versions, the page numbers may be different

  {%- for season in readingList.seasons -%}
  <h3>Season {{ season.number }} - {{ season.title }} </h3>
  <ul>
  {%- for episode in season.episodes -%}
    <li>{{ episode.number }} - 
        {% if episode.url == null %}
            {{episode.title}}
        {% else %}
            <a href="{{ episode.url}}">{{episode.title}}</a>
        {% endif %}
    </li>
    <ul>
        <li>Part {{episode.chapters.part}} - Chapters {{episode.chapters.start}} - {{episode.chapters.end}}</li>
        {%- if episode.pages.start != null -%}
        <li>Pages {{episode.pages.start}} - {{episode.pages.end}}</li>
        {%- endif -%}
        {%- if episode.chapters.endLine != null -%}
        <li>End line: <q>{{ episode.chapters.endLine }}</li>
        {%- endif -%}
    </ul>
  {%- endfor -%}
  </ul>
  {%- endfor -%}
</div>