---
layout: layouts/main.njk
title: Rehydrate - Reading List
pageHeading: Reading List
---
<div id="reading-list">
  {%- for season in readingList.seasons | reverse -%}
  <h3>Season {{ season.number }} - <u>{{ season.title }}</u>
	  {% if season.author %} by {{ season.author }}{% endif %}
	  {% if season.season %} Season {{ season.season }}{% endif %}
  </h3>
  <ul>
  {%- for episode in season.episodes -%}
    {% set releasedEpisode = episode | getEpisodeForReadingListEntry(season, collections.episodes) %}

    <li>{{ episode.number }} -
        {%- if releasedEpisode  %}
            <a href="{{ episode.url}}">{{episode.title}}</a>
        {% else %}
            {{episode.title}}
        {% endif %}
    </li>
    <ul>
        <li>
          {%- if episode.chapters -%}
            {%- if episode.chapters.part != null -%}
              Part {{episode.chapters.part}} -&nbsp;
            {%- endif -%}
            {%- if episode.chapters.start == episode.chapters.end %}
                Chapter {{episode.chapters.start}}
            {%- else -%}
                Chapters {{episode.chapters.start}} - {{episode.chapters.end}}
            {%- endif -%}
          {%- endif -%}

          {%- if episode.episodes -%}
            {%- if episode.episodes.start == episode.episodes.end %}
              Episode {{episode.episodes.start}}
            {%- else -%}
              Episodes {{episode.episodes.start}} - {{episode.episodes.end}}
            {%- endif -%}
          {%- endif -%}

        </li>
        {%- if episode.pages.start != null -%}
        <li>Pages {{episode.pages.start}} - {{episode.pages.end}}</li>
        {%- endif -%}
        {%- if episode.chapters.endLine != null -%}
        <li>End line: <q>{{ episode.chapters.endLine }}</li>
        {%- endif -%}
        {%- if releasedEpisode.data.stuff.episodeSummary -%}
        <a href="{{ releasedEpisode.data.stuff.episodeSummary }}">Summary</a>
        {%- endif -%}
    </ul>
  {%- endfor -%}
  </ul>
  {%- endfor -%}
</div>
