<div id="contact-us">
    Contact us at
    <a href="mailto:rehydrate@fastmail.com">rehydrate@fastmail.com</a>, on Twitter <a href="https://twitter.com/rehydratepod">@rehydratepod</a>, or Mastodon <a href="https://mas.to/@rehydrate">@rehydrate@mas.to</a>!
</div>
