<div id="contact-us">
  <b>Contact</b>
  <br/>
  <a href="mailto:rehydrate@fastmail.com">rehydrate@fastmail.com</a>
  <br />
  <a href="https://bsky.app/profile/rehydrate.bsky.social">@rehydrate.bsky.social</a>
  <br />
  <a href="https://mas.to/@rehydrate">@rehydrate@mas.to</a>
</div>
