<div id="contact-us">
    Comments or feedback? Contact us at
    <a href="mailto:rehydrate@fastmail.com">rehydrate@fastmail.com</a> or on Twitter <a href="https://twitter.com/rehydratepod">@rehydratepod</a>!
</div>
