          <li class="pane">
            <div class="episode-title">
              <a href="/episodes/{{ src.slug }}/index.html">{{ src | getEpisodeTitle }}</a>
            </div>
            <img src="/media/{{ src.imageFilename }}" alt="Episode image" />
            <audio
              class="episode-player"
              controls=""
              loop="false"
              preload="metadata"
              src="/episodes/rehydrate-s{{ src.season }}-ep{{ src.number }}-{{ src.slug }}.mp3"
            ></audio>
            {% include 'findings.njk' %}
            <div class="time-stamp entry-meta">
              <time datetime="{{ src.date }}">{{ src.date.toDateString() }}</time>
            </div>

            {%- if src.extras and src.extras.length != 0 -%}
              <div class="bonus-content">
              <h3>Bonus Content</h3>
              {%- for extra in src.extras -%}
                <div class="bonus-episode">
                  <img class="bonus" src="/media/{{ extra.imageFilename }}"/>
                  <audio
                    class="bonus episode-player"
                    controls=""
                    loop="false"
                    preload="metadata"
                    src="/episodes/{{ extra.episodeFilename }}"
                  ></audio>
                  <p>
                    <span class="title">{{ extra.title }}</span>
                    <br />
                    {{ extra.desc|safe }}
                    {% if extra.links %}
                      <ul class="finding-links">
                      {% for link in extra.links %}
                        <li><a href="{{link.url}}">{{ link.name }}</a></li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </p>
                </div>
              {%- endfor -%}
              </div>
            {%- endif -%}
          </li>
