---
layout: episode-page.njk
---
{% set src = stuff %}
      <section class="media">
        <ul class="media-list centered-col">
          {% include 'episode-pane.njk' %}
        </ul>
      </section>
{% include 'platform-links.njk' %}
