<html>
  <head>
    <title>Rehydrate</title>
    <link rel="stylesheet" href="/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:site_name" content="Rehydrate" />
    {% set latestEpisodeStuff = stuff %}
    {% include 'latest-episode-unfurl.njk' %}
  </head>
  <body class="centered-col">
    <a href="/">
      <header>
        <img src="/media/small-findings-wily-square.jpg" alt="Dr. Wily, a cat" />
        <h1>Rehydrate</h1>
      </header>
    </a>

    <section class="middle">
      <div class="listening-directions">
        Point your podcast app at the <a href="/rss.xml">RSS feed</a> to listen!
      </div>
      <br>
      {{ content | safe }}
    </section>

    {% include 'footer.njk' %}

  </body>
</html>
