          <li class="pane">
            <div class="episode-title">
              <a href="/episodes/{{ src.slug }}/index.html">{{ src.title }}</a>
              <div class="season-title">
                {% if src.season %}
                  Season {{src.season}}
                {% endif %}

                {% if src.number %}
                  , Episode {{src.number}}
                {% endif %}
              </div>
            </div>
            <img src="/media/{{ src.imageFilename }}" alt="Episode image" />
            <audio
              class="episode-player"
              controls=""
              loop="false"
              preload="metadata"
              src="/episodes/{{ src | getEpisodeFilename }}"
            ></audio>
            {% include 'findings.njk' %}
            <div class="time-stamp entry-meta">
              <time datetime="{{ src.date }}">{{ src.date.toDateString() }}</time>
            </div>

            {%- if src.extras and src.extras.length != 0 -%}
              <div class="bonus-content">
              <h3>Bonus Content</h3>
              {%- for extra in src.extras -%}
                <a id="{{ extra.episodeFilename }}"></a>
                <div class="bonus-episode">
                  <img class="bonus" src="/media/{{ extra.imageFilename }}"/>
                  <audio
                    class="bonus episode-player"
                    controls=""
                    loop="false"
                    preload="metadata"
                    src="/episodes/{{ extra.episodeFilename }}"
                  ></audio>
                  {% include 'bonus-findings.njk' %}
                </div>
              {%- endfor -%}
              </div>
            {%- endif -%}


            <br>
            {% set rl = src | getReadingListEntry(readingList) %}
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ src | getEpisodeTweetSummary(rl) }}" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>

