{% set rl = src | getReadingListEntry(readingList) %}

<div>
    {%- if rl.episode.chapters != null -%}
      <h4>Episode Info</h4>
      <ul class="finding-links">
        <li><i>{{ rl.season.title }}</i> - {{ rl.season.author }}</li>
        <li>
          {%- if rl.episode.chapters -%}
            {% if rl.episode.chapters.part %}
            Part <i>{{ rl.episode.chapters.part }}</i>,
            {% endif %}
            Chapters: {{rl.episode.chapters.start}} - {{ rl.episode.chapters.end }}
          {%- endif -%}

          {%- if rl.episode.episodes -%}
            Episodes: {{rl.episode.episodes.start}} - {{ rl.episode.episodes.end }}
          {%- endif -%}
        </li>
        {% if rl.episode.pages.start %}
        <li>Pages: {{ rl.episode.pages.start }} - {{ rl.episode.pages.end }}</li>
        {% endif %}
        {% if src.transcript %}
          <li><a class="transcript-link" href="{{ src.transcript }}">Transcript</a></li>
        {%  endif %}
        {% if src.episodeSummary %}
          <li><a class="summary-link" href="{{ src.episodeSummary }}">Summary</a></li>
        {%  endif %}
      </ul>
    {%- endif -%}

  {% if src.summary %}
    <h4>Summary</h4>
    <ul class="finding-links">
        <li>{{ src.summary }}</li>
    </ul>
  {% endif %}

  {% if src.topics %}
      <h4>Topics</h4>
      <ul class="finding-links">
      {% for topic in src.topics %}
        <li>{{ topic|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if src.links %}
      <h4>References</h4>
      <ul class="finding-links">
      {% for link in src.links %}
         <li><a href="{{link.url}}">{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
</div>
