{% set rl = src | getReadingListEntry(readingList) %}

<div>
  <ul class="findings-list">
    <li>
      <h3>Episode Info</h3>
      <ul class="finding-links">
        <li>Book: <i>{{ rl.season.title }}</i>
        <li>Chapters {{rl.episode.chapters.start}} - {{ rl.episode.chapters.end }}</li>
        <li>Pages {{ rl.episode.pages.start }} - {{ rl.episode.pages.end }}</li>
        {% if src.transcript %}
          <li><a class="transcript-link" href="{{ src.transcript }}">Transcript</a></li>
        {%  endif %}
      </ul>
    </li>
    {% if src.topics %}
      <li>
        <h3>Topics</h3>
        <ul class="finding-links">
        {% for topic in src.topics %}
          <li>{{ topic }}</li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}

    {% if src.links %}
      <li>
        <h3>References</h3>
        <ul class="finding-links">
        {% for link in src.links %}
           <li><a href="{{link.url}}">{{ link.name }}</a></li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
</div>
