<div>
    <h4>Episode Info</h4>
    <ul class="finding-links">
      <li><i>{{ rl.season.title }}</i>{% if rl.season.author %} - {{ rl.season.author }}{% endif %}</li>
      <li>
        {%- if rl.episode.chapters -%}
          {% if rl.episode.chapters.part %}
          Part <i>{{ rl.episode.chapters.part }}</i>,
          {% endif %}
          Chapters: {{rl.episode.chapters.start}} - {{ rl.episode.chapters.end }}
        {%- endif -%}

	    {%- if rl.season.season -%}Season {{ rl.season.season }}{%- endif -%}{%- if rl.episode.episodes -%}, Episodes: {{rl.episode.episodes.start}} - {{ rl.episode.episodes.end }}{%- endif -%}
      </li>
      {% if rl.episode.pages.start %}
      <li>Pages: {{ rl.episode.pages.start }} - {{ rl.episode.pages.end }}</li>
      {% endif %}
      {% if src.episodeSummary %}
        <li><a class="summary-link" href="{{ fullURL }}{{ src.episodeSummary }}">Summary</a></li>
      {%  endif %}
    </ul>

  {% if src.summary %}
    <h4>Description</h4>
    <ul class="finding-links">
        <li>{{ src.summary }}</li>
    </ul>
  {% endif %}

  {% if src.topics %}
      <h4>Topics</h4>
      <ul class="finding-links">
      {% for topic in src.topics %}
        <li>{{ topic|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if src.links %}
      <h4>References</h4>
      <ul class="finding-links">
      {% for link in src.links %}
         <li><a href="{{link.url}}">{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
</div>
