    <footer id="footer">
      <a href="/" class="bigger-link">The Rehydrate podcast</a>
      <a href="hosts" class="bigger-link">About the hosts</a>
      <div>
        Comments? Findings to share? Email them to
        <a href="mailto:rehydrate@fastmail.com"
          >rehydrate@fastmail.com</a
        >!
      </div>
      <br />
      <div>
        This site (and podcast feed) is built via
        <a href="https://www.11ty.dev/">Eleventy</a>. <br /><br />
      </div>
    </footer>
