<footer id="footer">
  <div>
    <a href="/hosts">Hosts</a> |
    <a href="/pronunciations">Pronunciation Guide</a>
  </div>
  <div>
    {%- include 'contact.njk' -%}
  </div>
  <div class="built-with">
    This site (and podcast feed) is built via
    <a href="https://www.11ty.dev/">Eleventy</a>. <br /><br />
  </div>
</footer>
