    <footer id="footer">
      <div>
        <a href="/">The Rehydrate Podcast</a>
      </div>
      <div>
        <a href="/hosts">About the hosts</a>
      </div>
      <div>
        Twitter: <a href="https://twitter.com/rehydratepod">@rehydratepod</a>
      </div>
      <div>
        {%- include 'contact.njk' -%}
      </div>
      <div class="built-with">
        This site (and podcast feed) is built via
        <a href="https://www.11ty.dev/">Eleventy</a>. <br /><br />
      </div>
    </footer>
