<section id="how-to-listen">
<div class="listening-directions" style="text-align: center">
    <span>Subscribe &amp; Listen</span>
    <ul>
    <p>
    <li><a href="https://podcasts.apple.com/us/podcast/rehydrate/id1540884633">Apple Podcasts</a></li>
    <span class="dot">&middot;</span>
    <li><a href="https://pca.st/5w38zj1a">Pocket Casts</a></li>
    <span class="dot">&middot;</span>
    <li><a href="https://overcast.fm/itunes1540884633/rehydrate">Overcast</a></li>
    </p>
    <p />
    <li><a href="/rss.xml">RSS</a>
    <br />
    <span style="font-size: 0.75em">
        (Use with most podcast apps)
    </span>
    </li>
    </ul>
</div>
</section>