<li class="pane index-pane">
<div class="index-media">
    <!-- Media object -->
    <div class="index-media-image">
        <img src="/media/{{ src.imageFilename }}" class="index-image" alt="Episode image" />
    </div>

    <!-- Main content -->
    <div class="index-media-content">
      <div class="episode-title">
        <a href="/episodes/{{ src.slug }}/index.html">{{ src.title }}</a>
        <div class="season-title">Season {{src.season}}, Episode {{src.number}}</div>
      </div>
      <div class="episode-metadata">
        {% set rl = src | getReadingListEntry(readingList) %}

        <i>{{ rl.season.title }}</i> - {{ rl.season.author }}
        {% if rl.episode.chapters.start %}
        <br />
        {% if rl.episode.chapters.part %}Part {{rl.episode.chapters.part}}, {% endif %}
        {{rl.episode.chapters.start}} - {{ rl.episode.chapters.end }}
        {% endif %}

      </div>
    </div>
</div>

<audio
  class="episode-player index-episode-player"
  controls=""
  loop="false"
  preload="metadata"
  src="/episodes/rehydrate-s{{ src.season }}-ep{{ src.number }}-{{ src.slug }}.mp3"
></audio>

<!-- Bonus Content -->
{%- if not hideBonus and src.extras and src.extras.length != 0 -%}
<div class="bonus-section">
  <h4>Bonus Content</h4>
  <ul>
  {%- for extra in src.extras -%}
      <li>
      <a href="/episodes/{{ src.slug }}/index.html#{{ extra.episodeFilename }}" class="bonus-link">
      <img class="bonus" src="/media/{{ extra.imageFilename }}"/>
      </a>
      </li>
  {%- endfor -%}
  </ul>
</div>
{%- endif -%}

</li>
