<meta property="og:title" content="Rehydrate {{ latestEpisodeStuff.title }}"/>
<meta property="og:url" content="https://rehydrate.space/{{ latestEpisodeStuff.slug }}"/>
{%- set src = latestEpisodeStuff -%}
<meta
	property="og:description"
	content="{%- include 'text-findings.njk' %}"
/>
<meta property="og:image" content="https://rehydrate.space/media/{{ latestEpisodeStuff.imageFilename }}"/>
<meta property="og:audio"
	  content="https://rehydrate.space/episodes/-s{{ latestEpisodeStuff.season }}-ep{{ latestEpisodeStuff.number }}-{{ latestEpisodeStuff.slug }}.mp3"/>
