      <div class="platform-directions">
        If you prefer to listen to this podcast via a specific platform, you can hear it at:
        <ul class="platform-list">
          <li><a href="https://podcasts.apple.com/us/podcast/rehydrate/id1540884633">Apple Podcasts</a></li>
          <li><a href="https://pca.st/5w38zj1a">Pocket Casts</a></li>
        </ul>
      </div>
