      <div class="platform-directions">
        If you prefer to listen to this podcast via a specific platform, you can hear it at:
        <ul class="platform-list">
          <li><a href="https://podcasts.apple.com/us/podcast/small-findings/id1506347600">Apple Podcasts</a></li>
          <li><a href="https://pca.st/qjxp9xu3">Pocket Casts</a></li>
          <li><a href="https://www.breaker.audio/small-findings-1/">Breaker</a></li>
          <li><a href="https://radiopublic.com/small-findings-6BwVXa">Radio Public</a></li>
        </ul>
      </div>
