{#
  Make sure not to include this more than once into a page
  it is right now tied to the main layout, so it will already
  be included in every page that uses that
#}

<div id="reactions-list">
  <span id="big-smile" class="reaction" data-href="/reactions/big-smile/">😀</span>
  <span id="smile" class="reaction" data-href="/reactions/smile/">🙂</span>
  <span id="neutral" class="reaction" data-href="/reactions/neutral/">😑</span>
  <span id="frown" class="reaction" data-href="/reactions/frown/">🙁</span>
  <span id="angry" class="reaction" data-href="/reactions/angry/">😡</span>
</div>

<script type="application/javascript">
  const reactions = document.querySelectorAll(".reaction")

  let reactionListener = (e) => {
    // If we already removed it, just return
    if (!e.target.dataset.href) return;

    // Make a call to the url in the background
    fetch(e.target.dataset.href)
      .then(() => {
        // Disable the links
        for (const r of reactions) {
          r.removeAttribute("data-href")
          r === e.target ? r.classList.add("clicked") : r.classList.add("notclicked")
        }
      })
  }

  for (const reaction of reactions) {
    reaction.addEventListener('click', reactionListener)
  }
</script>
