<div id="recommendations">
  More podcasts to listen to:

  {%- for person in recommendations.People -%}
  {% if (recommendations[person]) and (recommendations[person].length != 0) %}
  <h3>{{ person }}</h3>
  <ul>
    {%- for recommend in recommendations[person] %}
      <li>
      <a href="{{ recommend.url }}">{{ recommend.title }}</a>
      {{ recommend.desc }}
      </li>
    {%- endfor -%}
  </ul>
  {% endif %}
  {%- endfor -%}
</div>