---
date: 2020-11-02
stuff:
  name: Dan
  background: Dan is a more casual reader but very into a few series.
  social:
    - name: >
        @mental_thinking
      url: https://twitter.com/mental_thinking
    - name: >
        /u/mental_thinking
      url: https://www.reddit.com/user/mental_thinking
  podcastRecs:
    - title: Pod Save America
      desc: Politics with a bunch of yelling
      url: https://crooked.com/podcast-series/pod-save-america/
    - title: FiveThirtyEight Politics
      desc: Analytical politics discussion
      url: https://fivethirtyeight.com/podcasts
    - title: 'The Storm: A Lost Re-watch Podcast'
      desc: Episode-by-Episode Re-watch of Lost
      url: https://www.stormpodcast.com
    - title: Game of Thrones Podcast w/Preston Jacobs
      desc: In depth conversations about Game of Thrones and other series
      url: https://soundcloud.com/redteamreview
    - title: Talkin' Baseball
      desc: Baseball Talkin'
      url: https://jomboymedia.com/portfolio/talkin-baseball
  bookRecs:
    - title: A Song of Ice and Fire
      desc: aka Game of Thrones series
      author: George R. R. Martin
      url: https://en.wikipedia.org/wiki/A_Song_of_Ice_and_Fire
    - title: The Stand
      desc: Stephen King's epic about a post-plague world
      author: Stephen King
      url: https://en.wikipedia.org/wiki/The_Stand
layout: host.njk
