---
date: 2020-11-02
stuff:
  name: Dan
  background: Dan has read the entire Remembrance of Earth's Past series. Other sci-fi/literature background info here.
  podcastRecs:
    -
      title: Pod Save America
      desc: Politics with a bunch of yelling
      url: https://crooked.com/podcast-series/pod-save-america/
    -
      title: FiveThirtyEight Politics
      desc: Analytical politics discussion
      url: https://fivethirtyeight.com/podcasts
    -
      title: 'The Storm: A Lost Rewatch Podcast'
      desc: Episode-by-Episode Rewatch of Lost
      url: https://www.stormpodcast.com
    -
      title: Game of Thrones Podcast w/Preston Jacobs
      desc: In depth conversations about Game of Thrones and other series
      url: https://soundcloud.com/redteamreview
    -
      title: Talkin' Baseball
      desc: Baseball Talkin'
      url: https://jomboymedia.com/portfolio/talkin-baseball
layout: host.njk
