---
layout: layouts/main.njk
title: Rehydrate - Hosts
pageHeading: Hosts
---

<section class="middle">
  <section class="media">
    <ul class="media-list centered-col">
      {%- for host in collections.hosts -%}
        {% set src = host.data.stuff %}
        {% include 'host-pane.njk' %}
      {%- endfor -%}
    </ul>
  </section>
