---
date: 2020-11-02
stuff:
  name: Jim

  background: "Jim has read the Three-Body Problem, but not the rest of the Remembrance of Earth's Past series.
His sci-fi faves include Philip K. Dick, Jorge Luis Borges, Ted Chiang, and admittedly, he also remembers a few Michael Crichton books fondly."
  podcastRecs:
    -
      title: The Daily
      desc: Basic daily news, done really well.
      url: https://www.nytimes.com/column/the-daily
    -
      title: Talking Politics
      desc: Politics without yelling; discussion of politics around the world with a long view.
      url: https://www.talkingpoliticspodcast.com/
    -
      title: Ear Hustle
      desc: A podcast about prison life made by prisoner. The rare genuinely unique perspective.
      url: https://www.earhustlesq.com/
    -
      title: Idle Thumbs
      desc: A video game podcast. It's over but still amazing.
      url: https://www.idlethumbs.net/idlethumbs/
    -
      title: Small Findings
      desc: Jim's podcast about small bits of factual information he's come across.
      url: https://jimkang.com/smallfindings/
  bookRecs:
    -
      title: Flow My Tears, the Policeman Said
      author: Philip K. Dick
      desc: A story about possible realities.
      url: https://www.worldcat.org/title/flow-my-tears-the-policeman-said/oclc/744294199&referer=brief_results
    -
      title: The Stories of Your Life and Others
      author: Ted Chiang
      desc: Great short stories about language and systems.
      url: https://www.worldcat.org/title/stories-of-your-life-and-others/oclc/904713863&referer=brief_results
layout: host.njk
