---
date: 2020-11-02
stuff:
  name: Thalia
  background: >
      Thalia, cohost of the Spoilercast, and familiar with the RoEP series, is far from a purist when it comes to the written word, and has voiced her belief on the podcast that all 3 books would benefit from a rigorous re-edit. A fan of maximalist fiction, it is no surprise that Death’s End joins her favorites list along with Neal Stephenson’s Cryptonomicon, and David Foster Wallace’s Infinite Jest.
      As a data scientist, there’s innate curiosity about human kind’s future, an how it will interact with technology and society. I delve into these questions at my nonprofit, MATH mvmt, find us on all socials.
  social:
    name: >
        @MATHmvmt
    url: https://twitter.com/MATHmvmt
  podcastRecs:
    - title: SAYER
      desc: Sayer is a short narrative podcast that bring a full and crafted experience of a self aware AI with notes of Hal and Madeline L’Engels IT. It explores philosophical questions made practical by the advent of technology, and all episodes are game for reruns, dark room and good headphones recommended
      url: 'https://podcasts.apple.com/us/podcast/sayer/id831100527'
    - title: The MATH MVMT podcast
      desc: In less than half an hour the math mvmt touches on prospects for future, and the role humanity has to play in it. Non violence and outward orientation, could they save us from the path we’re on?
      url: https://www.youtube.com/channel/UCI40yO_kQSOqh5_0hijsjrQ
    - title: TANIS
      desc: Super weird, but intriguing because of it. Horror-psuedo fiction with excellent sound-mixing. Mystery solving akin to 3Body book 1, in which a thriller unfolds in the internet age, with possibly a payoff bigger than you dare imagine.
      url: http://tanispodcast.com
  bookRecs:
    - title: Cryptonomicon
      author: Neal Stephenson
      url: https://www.goodreads.com/book/show/816.Cryptonomicon
    - title: Infinite Jest
      author: David Foster Wallace
      url: https://www.goodreads.com/book/show/6759.Infinite_Jest
      
layout: host.njk
