---
date: 2020-12-18
stuff:
  name: Tim
  background: Tim is new to the Remembrance of Earth's Past series and has only read up the current episodes chapters.  He is an avid fantasy and sci-fi reader.
  podcastRecs:
    -
      title: Citations Needed
      desc: Left-wing politics podcast focused on narrative framing of polical issues.
      url: https://soundcloud.com/citationsneeded
    -
      title: Watch Out for Fireballs
      desc: Video games club podcast doing deep dives on games both modern and retro.
      url: https://www.watchoutforfireballs.com/
    -
      title: Comedy Bang-Bang
      desc: Long-running L.A. comedy scene-based podcast.
      url: https://www.earwolf.com/show/comedy-bang-bang/
    -
      title: Waypoint Radio
      desc: Weekly games dicussion podcast from VICE media.
      url: https://www.stitcher.com/show/vice-gamings-new-podcast
  bookRecs:
    -
      title: The Traitor Baru Cormorant
      desc: Young woman joins an evil empire in order to destroy it from within.
      author: Seth Dickinson
      url: https://www.goodreads.com/series/199001-the-masquerade
    -
      title: The Lies of Locke Lamora
      desc: Heist caper in a fantasy Renaissance setting.
      author: Scott Lynch
      url: https://www.goodreads.com/book/show/29588376-the-lies-of-locke-lamora
    -
      title: Revelation Space
      desc: Sci-fi series about dead alien races and space just being very scary in general.
      author: Alastair Reynolds
      url: https://www.goodreads.com/book/show/89187.Revelation_Space
layout: host.njk
