---
title: >
  Rehydrate - Season 1, Episode 3: A Game of Pool
date: 2020-11-22
stuff:
  title: A Game of Pool
  slug: a-game-of-pool
  season: 1
  number: 3
  date: 2020-11-22
  imageFilename: rehydrate-s1-ep3.jpg
  topics:
    - TBD
  links: ~

seconds: 1560
layout: layouts/episode.njk
