---
layout: layouts/episode.njk
stuff:
  title: A Game of Pool
  slug: a-game-of-pool
  season: 1
  number: 3
  date: 2020-11-22
  imageFilename: rehydrate-s1-ep3.jpg
  topics:
    - The Frontiers of Science
    - Pan Han part of the Khmer Rouge?
    - The Fragile Psyche of Physicists
    - Morse Code in Non-English Languages
    - How Would They Film This?
    - V-Suit
  links:
    - name: Erdős–Bacon number
      url: https://en.wikipedia.org/wiki/Erd%C5%91s%E2%80%93Bacon_number
    - name: Khmer Rouge
    - url: https://en.wikipedia.org/wiki/Khmer_Rouge
    - name: Morse code URL from the book
      url: https://www.qsl.net/bg3tt/zl/mesdm.htm
    - name: How does morse code work in non-English languages
      url: https://www.babbel.com/en/magazine/how-does-morse-code-work
    - name: Chinese Morse Code System
      url: https://www.njstar.com/cms/chinese-commercial-telegraph-code-lookup
    - name: Abandoned Three Body Problem movie stills (Warning - Spoilers in movie description)
      url: https://www.imdb.com/title/tt4547948/mediaviewer/rm667739392/
  seconds: 1333
