---
layout: layouts/episode.njk
stuff:
  title: Australia
  slug: australia
  season: 5
  number: 3
  date: 2021-07-20T00:00:00.000Z
  imageFilename: rehydrate-s5-ep3.jpg
  topics: ~
  links:
    - name: Three Body Manga
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/olwvsb/couldnt_get_better_quality_but_theres_a_manga/
    - name: 'Mythic Quest, A Dark Quiet Death'
      url: 'https://www.imdb.com/title/tt10084334/?ref_=ttep_ep5'
  seconds: 3403
  episodeSummary: /episodes/summaries/rehydrate-s5-ep3-summary/index.html
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s5-ep3-spoilercast.jpg
    episodeFilename: rehydrate-s5-ep3-australia-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: Miegakure
      url: https://miegakure.com/
    - name: "Homer^3 (The Simpsons: Treehouse of Horror VI)"
      url: https://simpsons.fandom.com/wiki/Treehouse_of_Horror_VI
    seconds: 3005