---
layout: layouts/episode.njk
stuff:
  title: Bugs
  slug: bugs
  season: 1
  number: 8
  date: 2021-01-24
  imageFilename: rehydrate-s1-ep8.jpg
  topics:
    - Season finale. We discuss the ending of The Three-Body Problem
  links:
    - name: Flatland
      url: 'https://en.wikipedia.org/wiki/Flatland'
    - name: Civ II for 10 Years
      url: >-
        https://www.reddit.com/r/gaming/comments/uxpil/ive_been_playing_the_same_game_of_civilization_ii/
    - name: Carl Sagan talks about the 4th dimension
      url: 'https://www.youtube.com/watch?v=N0WjV6MmCyM'
  seconds: 4127
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s1-ep8-spoilercast.jpg
    episodeFilename: rehydrate-s1-ep8-bugs-spoilercast.mp3
    desc: Dan and Amin talk about the entire Remembrance of Earth's Past series (and The Expanse) with full spoilers
    seconds: 1096
