---
layout: layouts/episode.njk
stuff:
  title: Cosmic Brush
  slug: cosmic-brush
  season: 3
  number: 2
  date: 2021-04-11
  imageFilename: rehydrate-s3-ep2.jpg
  topics: ~
  links:
    - name: Frank's Reading Notes
      url: "https://www.reddit.com/r/threebodyproblem/comments/lterxp/authors_footnotes_in_the_original_text_of_dark/?utm_source=share&utm_medium=web2x&context=3"
  seconds: 2568
  summary: /episodes/summaries/rehydrate-s3-ep2-summary/index.html
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s3-ep2-spoilercast.jpg
    episodeFilename: rehydrate-s3-ep2-cosmic-brush-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: Reddit Post about Cheng Xin
      url: https://www.reddit.com/r/threebodyproblem/comments/mmp8rz/just_finished_the_series_i_thought_this_many_many/
    - name: Invisible Planets
      url: https://www.goodreads.com/book/show/28220730-invisible-planets
    seconds: 2993