---
layout: layouts/episode.njk
stuff:
  title: Droplet
  slug: droplet
  season: 3
  number: 5
  date: 2021-05-23T00:00:00.000Z
  imageFilename: rehydrate-s3-ep5.jpg
  topics: ~
  links:
    - name: Red Wedding (Spoilers)
      url: 'https://gameofthrones.fandom.com/wiki/Red_Wedding'
    - name: Star Trek Space Battles
      url: >-
        https://www.startrek.com/news/star-treks-most-breathtaking-and-consequential-battles
    - name: Waterdrop Fan Film
      url: 'https://www.youtube.com/watch?v=2QYwGIdYm2w'
    - name: Prisoner's Dilemma
      url: 'https://en.wikipedia.org/wiki/Prisoner''s_dilemma'
    - name: 'Interview with Priya'
      url: 'https://rehydrate.space/episodes/interview-series-roep/index.html#rehydrate-s1-ep9-interview-series-roep-priya.mp3'
    - name: 'The Cold Equations - Tom Godwin'
      url: 'https://www.lightspeedmagazine.com/fiction/the-cold-equations/'
  seconds: 3464
  summary: /episodes/summaries/rehydrate-s3-ep5-summary/index.html
