---
layout: layouts/episode.njk
stuff:
  title: Fate's Choice
  slug: fates-choice
  season: 5
  number: 5
  date: 2021-08-15T00:00:00.000Z
  imageFilename: rehydrate-s5-ep5.jpg
  topics: ~
  episodeSummary: /episodes/summaries/rehydrate-s5-ep5-summary/index.html
  links:
    - name: A Descent Into The Maelstrom by Edgar Allan Poe
      url: 'https://poestories.com/read/descent'
    - name: Along the River During the Qingming Festival
      url: >-
        https://en.wikipedia.org/wiki/Along_the_River_During_the_Qingming_Festival
  seconds: 3307
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s5-ep5-spoilercast.jpg
    episodeFilename: rehydrate-s5-ep5-fates-choice-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: >-
        Silo
      url: https://en.wikipedia.org/wiki/Silo_(series)
    - name: >-
        Along the River During the Qingming Festival
      url: https://en.wikipedia.org/wiki/Along_the_River_During_the_Qingming_Festival
    - name: >-
        [SPOILERS ALL] What about the spinning umbrella?: threebodyproblem
      url: https://www.reddit.com/r/threebodyproblem/comments/7j462w/spoilers_all_what_about_the_spinning_umbrella/
    - name: >-
        Took me from Feb 2021-Aug 2021, but I finally read all three books: threebodyproblem
      url: https://www.reddit.com/r/threebodyproblem/comments/p751mf/took_me_from_feb_2021aug_2021_but_i_finally_read/
    - name: >-
        River of Wisdom – Animated Version of the Riverside Scene at Qingming Festival 
      url: https://rolandlim.wordpress.com/2010/11/27/river-of-wisdom-animated-version-of-the-riverside-scene-at-qingming-festival/amp/
    - name: >-
        Along the River During the Qingming Festival
      url: https://en.wikipedia.org/wiki/Along_the_River_During_the_Qingming_Festival
    - name: >-
        [2106.15181] A Dyson Sphere around a black hole
      url: https://arxiv.org/abs/2106.15181
    - name: >-
        Relics (episode) | Memory Alpha | Fandom
      url: https://memory-alpha.fandom.com/wiki/Relics_(episode)
    - name: >-
        Kardashev scale
      url: https://en.wikipedia.org/wiki/Kardashev_scale
    seconds: 2655