---
layout: layouts/episode.njk
stuff:
  title: Fate's Choice
  slug: fates-choice
  season: 5
  number: 5
  date: 2021-08-15T00:00:00.000Z
  imageFilename: rehydrate-s5-ep5.jpg
  topics: ~
  episodeSummary: /episodes/summaries/rehydrate-s5-ep5-summary/index.html
  links:
    - name: A Descent Into The Maelstrom by Edgar Allan Poe
      url: 'https://poestories.com/read/descent'
    - name: Along the River During the Qingming Festival
      url: >-
        https://en.wikipedia.org/wiki/Along_the_River_During_the_Qingming_Festival
  seconds: 3307
