---
layout: layouts/episode.njk
stuff:
  title: Frontiers of Science
  slug: frontiers-of-science
  season: 1
  number: 2
  date: 2020-11-09
  imageFilename: rehydrate-s1-ep2.jpg
  transcript: /episodes/transcripts/rehydrate-s1-ep2-transcript/index.html
  episodeSummary: /episodes/summaries/rehydrate-s1-ep2-summary/index.html
  topics:
    - Exposition as Character Development
    - Undiscovered Country Beyond Death & Translations
    - Frontiers of Science
    - Erdős Number, Character Connections and Kevin Bacon
    - PLA Officers' Authority and Liberalism of China
    - Reverse Psychology and Policeman Stereotypes

  links:
    -
      name: Erdős–Bacon number
      url: https://en.wikipedia.org/wiki/Erd%C5%91s%E2%80%93Bacon_number
    -
      name: Qian Zhongshu
      url: https://www.britannica.com/biography/Qian-Zhongshu
    -
      name: The Wandering Earth
      url: https://www.imdb.com/title/tt7605074/

  extras:
    -
      title: Spoilercast
      imageFilename: rehydrate-s1-ep2-spoilercast.jpg
      episodeFilename: rehydrate-s1-ep2-frontiers-of-science-spoilercast.mp3
      desc: Dan and Amin talk about the entire series with full spoilers
      seconds: 1052
  seconds: 1643
