---
title: >
  Rehydrate - Season 1, Epsiode 2: Frontiers of Science
date: 2020-11-02
stuff:
  title: Frontiers of Science
  slug: frontiers-of-science
  season: 1
  number: 2
  date: 2020-11-09
  imageFilename: rehydrate-s1-ep2.jpg
  topics:
    - Exposition as Character Development
    - Undiscovered Country Beyond Death & Translations
    - Frontiers of Science
    - Erdős Number, Character Connections and Kevin Bacon
    - PLA Officers' Authority and Liberalism of China
    - Reverse Psychology and Policeman Stereotypes

  links:
    -
      name: Erdős–Bacon number
      url: https://en.wikipedia.org/wiki/Erd%C5%91s%E2%80%93Bacon_number
    
    - 
      name: Qian Zhongshu
      url: https://www.britannica.com/biography/Qian-Zhongshu
    
    -  
      name: The Wandering Earth
      url: https://www.imdb.com/title/tt7605074/

seconds: 1560
layout: layouts/episode.njk
