---
layout: layouts/episode.njk
stuff:
  title: Interview Series
  slug: interview-series-roep
  season: 1
  number: 9
  date: 2021-02-06
  imageFilename: rehydrate-interview-series-roep.jpg
  topics:
    - Interview Series for Remembrance of Earth's Past
  seconds: 36
  extras:
  - title: Interview - Frank
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-frank.mp3
    desc: Interview with <a href="http://reddit.com/u/pinktie7418">Frank</a>
    seconds: 4112
  - title: Interview - Josh
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-josh.mp3
    desc: "Episode music credit: Josh/Thought Trials"
    links:
      - name: Thought Trials
        url: http://thoughttrials.com
      - name: "@thoughttrials - Instagram"
        url: https://www.instagram.com/thoughttrials/
    seconds: 2264