---
layout: layouts/episode.njk
stuff:
  title: Interview Series
  slug: interview-series-roep
  season: 1
  number: 9
  date: 2021-02-06
  imageFilename: rehydrate-interview-series-roep.jpg
  topics:
    - Interview Series for Remembrance of Earth's Past
  seconds: 36
  extras:
  - title: Interview - Frank
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-frank.mp3
    desc: Interview with <a href="http://reddit.com/u/pinktie7418">Frank</a>
    seconds: 4112
  - title: Interview - Josh
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-josh.mp3
    desc: "Episode music credit: Josh/Thought Trials"
    links:
      - name: Thought Trials
        url: http://thoughttrials.com
      - name: "@thoughttrials - Instagram"
        url: https://www.instagram.com/thoughttrials/
    seconds: 2264
  - title: Interview - Yilmaz
    desc: Interview with Yilmaz
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-yilmaz.mp3
    links:
      - name: "@Ayyyyten - Twitter"
        url: https://mobile.twitter.com/Ayyyyten
      - name: "The Effects of Reading, Listening, and Dual Modality on Comprehension"
        url: https://journals.sagepub.com/doi/full/10.1177/2158244016669550
    seconds: 3179
  - title: Interview - Thalia
    desc: Interview with Thalia
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-thalia.mp3
    links:
      - name: "Thalia's Reading Guide to the Three-Body Problem"
        url: https://www.reddit.com/r/threebodyproblem/comments/llbfxj/reading_guide_to_three_body/
      - name: Math Movement
        url: https://www.mathmvmt.org/
      - name: "@MathMvmt"
        url: https://www.twitter.com/MathMvmt
    seconds: 3179