---
layout: layouts/episode.njk
stuff:
  title: Natural Selection
  slug: natural-selection
  season: 3
  number: 4
  date: 2021-05-09T00:00:00.000Z
  imageFilename: rehydrate-s3-ep4.jpg
  topics: ~
  links:
    - name: Futurama - A Fishful of Dollars
      url: 'https://futurama.fandom.com/wiki/A_Fishful_of_Dollars'
    - name: SPOILERS - Three-Body and Dark Forest Anime
      url: 'https://www.youtube.com/watch?v=H4mXzUi5rfg'
  seconds: 3285
