---
layout: layouts/episode.njk
stuff:
  title: Red Coast
  slug: red-coast
  season: 1
  number: 6
  date: 2021-01-11
  imageFilename: rehydrate-s1-ep6.jpg
  topics:
    - NOTE - Please excuse the some of the audio issues for this episode, they will be addressed for future episodes
    - Introduction
    - Followup
    - Feedback
    - Summary
    - Destination of the Trisolaran Fleet
    - Observing Distant Planets
    - Are the  Trisolarans Real?
    - What is the Purpose of the Three Body Game?
    - Geographical Differences for Three Body Game
    - Different Modes of Scientific Thought
    - Easter Eggs
    - The Computer Scene
    - Messages from Red Coast
    - Consequences of Sending Extraterrerstial Messages
  links:
    - name: Jia Zhangke
      url: 'https://en.wikipedia.org/wiki/Jia_Zhangke'
    - name: Cultural Revolution
      url: 'https://en.wikipedia.org/wiki/Cultural_Revolution'
    - name: >-
        BTS Clip (unsubbed) of Chinese live-action "Three Body Problem" series
        wrapping up filming with crew interviews : threebodyproblem
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/kj7hh1/bts_clip_unsubbed_of_chinese_liveaction_three/
    - name: Redemption of Time
      url: >-
        https://www.goodreads.com/book/show/36262251-the-redemption-of-time?from_search=true&from_srp=true&qid=UmAXnZQGCE&rank=1
    - name: >-
        Lin Qi, Yoozoo CEO and Producer on Netflix's 'Three-Body Problem,' Dies
        at 39
      url: >-
        https://www.hollywoodreporter.com/news/lin-qi-yoozoo-ceo-and-producer-on-netflixs-three-body-problem-dies-at-39
    - name: What Is an Exoplanet?
      url: >-
        https://spaceplace.nasa.gov/all-about-exoplanets/en/#:~:text=Exoplanets%20are%20very%20hard%20to,on%20the%20stars%20they%20orbit
    - name: Alpha Centauri
      url: 'https://en.wikipedia.org/wiki/Alpha_Centauri'
    - name: The Great Courses
      url: 'https://www.thegreatcourses.com/'
    - name: 'The Search for Exoplanets: What Astronomers Know'
      url: >-
        https://www.thegreatcourses.com/courses/the-search-for-exoplanets-what-astronomers-know.html?listid=3&pfm=UpsellSlider&pos=16&recloc=pdp
    - name: Galileo Galilei
      url: 'https://en.wikipedia.org/wiki/Galileo_Galilei'
    - name: Giordano Bruno
      url: 'https://en.wikipedia.org/wiki/Giordano_Bruno'
    - name: Gottfried Wilhelm Leibniz
      url: 'https://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz'
    - name: Sun Tzu
      url: 'https://en.wikipedia.org/wiki/Sun_Tzu'
    - name: Monte Carlo Simulation Definition
      url: 'https://www.investopedia.com/terms/m/montecarlosimulation.asp'
    - name: Jim Anchower
      url: 'https://www.theonion.com/tag/jim-anchower'
    - name: Voyager spacecraft
      url: 'https://voyager.jpl.nasa.gov/'
    - name: The Golden Record
      url: 'https://voyager.jpl.nasa.gov/golden-record/'
    - name: Single Female Lawyer
      url: 'https://futurama.fandom.com/wiki/Single_Female_Lawyer'
    - name: Global Catastrophic Risks
      url: 'http://www.global-catastrophic-risks.com/'
  seconds: 3440
