---
layout: layouts/episode.njk
stuff:
  title: Interview Series
  slug: interview-series-roep
  season: 1
  number: 9
  date: 2021-02-06
  imageFilename: rehydrate-interview-series-roep.jpg
  topics:
    - Interview Series for Remembrance of Earth's Past
  seconds: 36
  hosts:
    - dan
  extras:
  - title: Interview - Frank
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-frank.mp3
    desc: Interview with <a href="http://reddit.com/u/pinktie7418">Frank</a>
    seconds: 4112
    hosts:
      - dan
      - guest-frank
  - title: Interview - Josh
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-josh.mp3
    desc: "Episode music credit: Josh/Thought Trials"
    links:
      - name: Thought Trials
        url: http://thoughttrials.com
      - name: "@thoughttrials - Instagram"
        url: https://www.instagram.com/thoughttrials/
    seconds: 2264
    hosts:
      - dan
      - guest-josh
  - title: Interview - Yilmaz
    desc: Interview with Yilmaz
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-yilmaz.mp3
    links:
      - name: "@Ayyyyten - Twitter"
        url: https://mobile.twitter.com/Ayyyyten
      - name: "The Effects of Reading, Listening, and Dual Modality on Comprehension"
        url: https://journals.sagepub.com/doi/full/10.1177/2158244016669550
    seconds: 3179
    hosts:
      - dan
      - guest-yilmaz
  - title: Interview - Thalia
    desc: Interview with Thalia
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-thalia.mp3
    links:
      - name: "Thalia's Reading Guide to the Three-Body Problem"
        url: https://www.reddit.com/r/threebodyproblem/comments/llbfxj/reading_guide_to_three_body/
      - name: Math Movement
        url: https://www.mathmvmt.org/
      - name: "@MathMvmt"
        url: https://www.twitter.com/MathMvmt
    seconds: 3179
    hosts:
      - dan
      - thalia
  - title: Interview - Priya
    desc: "Interview with Priya. Note: Contains spoilers for other books, chapters included to skip through."
    imageFilename: rehydrate-interview-series-roep.jpg
    episodeFilename: rehydrate-s1-ep9-interview-series-roep-priya.mp3
    links:
      - name: "The Redemption of Time - Baoshu"
        url: https://www.goodreads.com/book/show/36262251-the-redemption-of-time
      - name: "The Cold Equations - Tom Godwin"
        url: https://www.lightspeedmagazine.com/fiction/the-cold-equations/
      - name: "The Cold Equations - Twilight Zone"
        url: https://www.youtube.com/watch?v=i-eVsAl6MRE
      - name: "To Serve Man - Damon Knight"
        url: http://www.digital-eel.com/blog/library/To_Serve_Man.pdf
      - name: "To Serve Man - Twilight Zone"
        url: https://www.youtube.com/watch?v=hOrnVJ23aLQ
      - name: "The Simpsons - Treehouse of Horror"
        url: https://www.youtube.com/watch?v=SxI7B758XBQ
      - name: "A Canticle for Leibowitz - Walter M. Miller Jr."
        url: https://en.wikipedia.org/wiki/A_Canticle_for_Leibowitz
    seconds: 5128
    hosts:
      - dan
      - priya
