---
layout: layouts/episode.njk
stuff:
  title: Three-Body Problem Collected Summaries
  slug: three-body-problem-collected-summaries
  season: 1
  number: 0
  date: 2024-04-27T00:00:00.000Z
  imageFilename: rehydrate-s1-ep0.jpg
  episodeFilename: rehydrate-s1-ep0-three-body-problem-collected-summaries.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Episode 1 - Silent Spring (0:00:04)'
    - 'Episode 2 - Frontiers of Science (0:02:15)'
    - 'Episode 3 - A Game of Pool (0:04:25)'
    - 'Episode 4 - The Universe Flickers (0:06:23)'
    - 'Episode 5 - Da Shi (0:08:27)'
    - 'Episode 6 - Red Coast (0:10:11)'
    - 'Episode 7 - Sunset for Humanity (0:12:36)'
    - 'Episode 8 - Bugs (0:14:18)'
  links:
    - name: 'Episode 1 - Silent Spring'
      url: '/episodes/silent-spring/index.html'
    - name: 'Episode 2 - Frontiers of Science'
      url: '/episodes/frontiers-of-science/index.html'
    - name: 'Episode 3 - A Game of Pool'
      url: '/episodes/a-game-of-pool/index.html'
    - name: 'Episode 4 - The Universe Flickers'
      url: '/episodes/the-universe-flickers/index.html'
    - name: 'Episode 5 - Da Shi'
      url: '/episodes/da-shi/index.html'
    - name: 'Episode 6 - Red Coast'
      url: '/episodes/red-coast/index.html'
    - name: 'Episode 7 - Sunset for Humanity'
      url: '/episodes/sunset-for-humanity/index.html'
    - name: 'Episode 8 - Bugs'
      url: '/episodes/bugs/index.html'
  seconds: 979
  episodeSummary: /episodes/summaries/rehydrate-s1-collected-summaries/index.html
  hosts:
    - dan
    - priya
    - thalia
