---
layout: layouts/episode.njk
stuff:
  title: Da Shi
  slug: da-shi
  season: 1
  number: 5
  date: 2020-12-20
  imageFilename: rehydrate-s1-ep5.jpg
  topics:
    - Amin disagrees about how awesome Da Shi is
    - Who would play Da Shi?
    - Do the players in Three Body have current scientific knowledge?
    - Other players in Three Body game?
    - Anti-Science Trends and Parallels
    - Mozi vs. Confucius
    - Universal Love 兼愛
    - Chinese Honorifics and Diminutives
    - How would this be filmed?
  links:
    - name: Wandering Earth
      url: 'https://imdb.com/title/tt7605074/'
    - name: Great Expectations
      url: 'https://en.wikipedia.org/wiki/Great_Expectations'
    - name: Vaccine hesitancy
      url: 'https://en.wikipedia.org/wiki/Vaccine_hesitancy'
    - name: Mozi
      url: 'https://en.wikipedia.org/wiki/Mozi'
    - name: Mohism (Universal Love 兼愛)
      url: 'https://en.wikipedia.org/wiki/Mohism'
    - name: Chinese Honorifics
      url: 'https://en.wikipedia.org/wiki/Chinese_honorifics'
    - name: Dire Straits - Money for Nothing
      url: 'https://www.youtube.com/watch?v=wTP2RUD_cL0'
  seconds: 1517
  episodeSummary: /episodes/summaries/rehydrate-s1-ep5-summary/index.html
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s1-ep5-spoilercast.jpg
    episodeFilename: rehydrate-s1-ep5-da-shi-spoilercast.mp3
    desc: Dan and Amin talk about the entire series with full spoilers
    seconds: 945
    hosts:
      - dan
      - amin
  - title: "UPDATE: Reading List Update"
    imageFilename: rehydrate-logo.jpg
    episodeFilename: rehydrate-s1-readinglist-update.mp3
    desc: Important Update to the Reading List for Future Season 1 Episodes
    seconds: 58
    hosts:
      - dan
  hosts:
      - dan
      - jim
      - tim
      - amin
