---
layout: layouts/episode.njk
stuff:
  title: Sunset for Humanity
  slug: sunset-for-humanity
  season: 1
  number: 7
  date: 2021-01-19
  imageFilename: rehydrate-s1-ep7.jpg
  topics:
    - Big Iconic Events
    - Villainy and Motivations
    - Universal Translatable Language & Realistic Motivations
    - Space Elevators
    - Sun As A Reflector
    - Adventists and Redemptionists
    - Nuclear Weapons
    - Reliable Narrators / Malicious Intent?
    - Action from Da Shi
    - Scientific Explanations on the Screen
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s1-ep7-summary/index.html
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s1-ep7-spoilercast.jpg
    episodeFilename: rehydrate-s1-ep7-sunset-for-humanity-spoilercast.mp3
    desc: Dan and Amin talk about the entire series with full spoilers
    seconds: 1486
    hosts:
      - dan
      - amin
  seconds: 1925
  hosts:
      - dan
      - jim
      - tim
      - amin
