---
layout: layouts/episode.njk
stuff:
  title: Interview - Adam Lanphier
  summary: Adam Lanphier has translated short stories by Liu Cixin including "The Village Teacher" and "Cannonball." He is currently working on stories by Ma Boyong
  slug: interview-adam-lanphier
  season: 1
  number: 10
  date: 2021-06-23T00:00:00.000Z
  imageFilename: rehydrate-s1-ep10.jpg
  topics:
    - >-
      Original Chinese discussed for The Dark Forest translation:
      博士，我真的很赞赏您这种独特的思路，也许这真的是关键所在。”  “谢谢，我们真的都是摩登原始人。”
    - 'Adam''s Contact Email: adam.lanphier at gmail'
  links:
    - name: Promotional Material for Adam's Work
      url: 'https://drive.google.com/file/d/1JOga6GnETHbKwukupwhISVj6Myg6bxCt/view'
    - name: CEPRIDE
      url: https://twitter.com/cepride86
    - name: Adam's Reddit Profile
      url: 'https://www.reddit.com/user/Adam_Lanphier/'
    - name: Ma Boyong
      url: 'https://www.goodreads.com/author/show/7214145.Ma_Boyong'
    - name: The Longest Day in Chang'An (Amazon Prime Video)
      url: 'https://www.amazon.com/The-Longest-Day-In-Changan/dp/B07TTDM993'
    - name: The Wandering Earth
      url: >-
        https://www.goodreads.com/book/show/35491680-the-wandering-earth?from_search=true&from_srp=true&qid=p2fjgI5Wjz&rank=1
    - name: To Hold Up The Sky
      url: >-
        https://www.goodreads.com/book/show/49247266-to-hold-up-the-sky?from_search=true&from_srp=true&qid=1ntaZ6xNxi&rank=1
    - name: Invisible Planets
      url: >-
        https://www.goodreads.com/book/show/28220730-invisible-planets?from_search=true&from_srp=true&qid=SpPcRGSfk3&rank=1
  seconds: 3364
