---
layout: layouts/episode.njk
stuff:
  title: Seven Hours
  slug: seven-hours
  season: 2
  number: 5
  date: 2021-03-07
  imageFilename: rehydrate-s2-ep5.jpg
  topics: ~
  links: ~
  seconds: 1838
  hosts:
    - dan
    - jim
    - tim
    - amin
