---
layout: layouts/episode.njk
stuff:
  title: The Job
  slug: the-job
  season: 2
  number: 2
  date: 2021-02-14
  imageFilename: rehydrate-s2-ep2.jpg
  topics: ~
  links: ~
  seconds: 3182
  hosts:
    - dan
    - jim
    - tim
    - amin
