---
layout: layouts/episode.njk
stuff:
  title: The Snow Project
  slug: the-snow-project
  season: 3
  number: 6
  date: 2021-05-30T00:00:00.000Z
  imageFilename: rehydrate-s3-ep6.jpg
  topics: ~
  links:
    - name: Fermi Paradox
      url: 'https://en.wikipedia.org/wiki/Fermi_paradox'
  episodeSummary: /episodes/summaries/rehydrate-s3-ep6-summary/index.html
  seconds: 3338
  hosts:
    - dan
    - tim
    - amin
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s3-ep6-spoilercast.jpg
    episodeFilename: rehydrate-s3-ep6-the-snow-project-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: Redemption of Time
      url: https://www.goodreads.com/book/show/36262251-the-redemption-of-time
    seconds: 3005
    hosts:
      - dan
      - thalia
      - amin
  - title: The Dark Forest - Collected Summaries
    imageFilename: rehydrate-logo.jpg
    episodeFilename: rehydrate-s3-the-dark-forest-summary.mp3
    desc: The collected summaries from Season 3 covering all of The Dark Forest
    topics:
    - 'Intro (0:00:00)'
    - 'Episode 1 - The Wallfacers (0:00:05)'
    - 'Episode 2 - Cosmic Brush (0:03:04)'
    - 'Episode 3 - The Spell (0:05:19)'
    - 'Episode 4 - Natural Selection (0:10:27)'
    - 'Episode 5 - Droplet (0:13:08)'
    - 'Episode 6 - The Snow Project (0:16:15)'
    links: ~
    episodeSummary: /episodes/summaries/rehydrate-s3-ep0-summary/index.html
    seconds: 1186
    hosts:
    - dan
