---
layout: layouts/episode.njk
stuff:
  title: The Wallfacers
  slug: the-wallfacers
  season: 3
  number: 1
  date: 2021-03-28
  imageFilename: rehydrate-s3-ep1.jpg
  topics: ~
  links: ~
  seconds: 3233
  hosts:
    - dan
    - jim
    - tim
    - amin
  episodeSummary: /episodes/summaries/rehydrate-s3-ep1-summary/index.html
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s3-ep1-spoilercast.jpg
    episodeFilename: rehydrate-s3-ep1-the-wallfacers-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    seconds: 2631
    hosts:
      - dan
      - thalia
      - amin
