---
layout: layouts/episode.njk
stuff:
  title: The Dark Forest Collected Summaries
  slug: the-dark-forest-collected-summaries
  season: 3
  number: 0
  date: 2024-04-28T00:00:00.000Z
  imageFilename: rehydrate-s3-ep0.jpg
  episodeFilename: rehydrate-s3-ep0-the-dark-forest-collected-summaries.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Episode 1 - The Wallfacers (0:00:05)'
    - 'Episode 2 - Cosmic Brush (0:03:04)'
    - 'Episode 3 - The Spell (0:05:19)'
    - 'Episode 4 - Natural Selection (0:10:27)'
    - 'Episode 5 - Droplet (0:13:08)'
    - 'Episode 6 - The Snow Project (0:16:15)'
  links:
    - name: 'Episode 1 - The Wallfacers'
      url: '/episodes/the-wallfacers/index.html'
    - name: 'Episode 2 - Cosmic Brush'
      url: '/episodes/cosmic-brush/index.html'
    - name: 'Episode 3 - The Spell'
      url: '/episodes/the-spell/index.html'
    - name: 'Episode 4 - Natural Selection'
      url: '/episodes/natural-selection/index.html'
    - name: 'Episode 5 - Droplet'
      url: '/episodes/droplet/index.html'
    - name: 'Episode 6 - The Snow Project'
      url: '/episodes/the-snow-project/index.html'
  seconds: 1186
  episodeSummary: /episodes/summaries/rehydrate-s3-collected-summaries/index.html
  hosts:
    - dan
    - priya
    - thalia
