---
layout: layouts/episode.njk
stuff:
  title: Our Star
  slug: our-star
  season: 5
  number: 7
  date: 2021-09-12T00:00:00.000Z
  imageFilename: rehydrate-s5-ep7.jpg
  episodeFilename: rehydrate-s5-ep7-our-star.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:01:51)'
    - 'Initial Impressions (0:05:29)'
    - 'Yun Tianming''s Responsibility (0:07:01)'
    - 'Universal Bleakness (0:13:19)'
    - 'A Slower Speed of Light (0:18:49)'
    - 'More 2001 References (0:27:05)'
    - 'Coordinates (0:28:57)'
    - 'Pocket Universe (0:35:09)'
    - 'Opinions on Ending (0:42:00)'
    - 'Table of Eras (0:50:10)'
    - 'Trisolarans (0:52:16)'
    - 'Crimes Against Humanity (0:54:04)'
    - 'Favorite Book (0:56:03)'
    - 'Podcast Stats (1:10:46)'
    - 'Thanks! (1:11:53)'
    - 'Outro (1:13:11)'
  links:
    - name: A Slower Speed of Light
      url: 'http://gamelab.mit.edu/games/a-slower-speed-of-light/'
    - name: >-
        Slowing The Speed of Light Down To 2 m/s—What Special Relativity Feels
        Like
      url: 'https://www.youtube.com/watch?v=udqihUBGuZ8'
    - name: Isaac Asimov - The Gods Themselves
      url: 'https://en.wikipedia.org/wiki/The_Gods_Themselves'
  episodeSummary: /episodes/summaries/rehydrate-s5-ep7-summary/index.html
  seconds: 4430
  hosts:
    - dan
    - tim
    - thalia
    - amin

  extras:
    - title: Death's End - Collected Summaries
      imageFilename: rehydrate-logo.jpg
      episodeFilename: rehydrate-s5-deaths-end-summary.mp3
      desc: The collected summaries from Season 5 covering all of Death's End
      topics:
        - 'Intro (0:00:00)'
        - 'Episode 1 - The Staircase Program (0:00:05)'
        - 'Episode 2 - The Swordholders (0:03:13)'
        - 'Episode 3 - Australia (0:05:58)'
        - 'Episode 4 - The Storyless Kingdom (0:08:54)'
        - 'Episode 5 - Fate''s Choice (0:12:04)'
        - 'Episode 6 - Singer (0:15:23)'
        - 'Episode 7 - Our Star (0:18:29)'
      seconds: 1334
      hosts:
        - dan
