---
layout: layouts/episode.njk
stuff:
  title: Death's End Collected Summaries
  slug: deaths-end-collected-summaries
  season: 5
  number: 0
  date: 2024-04-29T00:00:00.000Z
  imageFilename: rehydrate-s5-ep0.jpg
  episodeFilename: rehydrate-s5-ep0-deaths-end-collected-summaries.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Episode 1 - The Staircase Program (0:00:05)'
    - 'Episode 2 - The Swordholders (0:03:13)'
    - 'Episode 3 - Australia (0:05:58)'
    - 'Episode 4 - The Storyless Kingdom (0:08:54)'
    - 'Episode 5 - Fate''s Choice (0:12:04)'
    - 'Episode 6 - Singer (0:15:23)'
    - 'Episode 7 - Our Star (0:18:29)'
  links: ~
  seconds: 1334
  hosts:
    - dan
    - priya
    - thalia
