---
layout: layouts/episode.njk
stuff:
  title: The Staircase Program
  slug: the-staircase-program
  season: 5
  number: 1
  date: 2021-06-20T00:00:00.000Z
  imageFilename: rehydrate-s5-ep1.jpg
  topics: ~
  episodeSummary: /episodes/summaries/rehydrate-s5-ep1-summary/index.html
  links:
    - name: >-
        1st Poster for Chinese "Three Body" TV series -- scheduled for 4th
        Quarter, 2021. : threebodyproblem
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/nvs4pe/1st_poster_for_chinese_three_body_tv_series/
    - name: P vs. NP and the Computational Complexity Zoo
      url: 'https://www.youtube.com/watch?v=YX40hbAHx3s'
    - name: >-
        Staircase conflicts with Wallfacers? (spoilers for books 2/3) :
        threebodyproblem
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/o2ogat/staircase_conflicts_with_wallfacers_spoilers_for/
  seconds: 3375
  hosts:
    - dan
    - tim
    - amin
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s5-ep1-spoilercast.jpg
    episodeFilename: rehydrate-s5-ep1-the-staircase-program-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: >-
        Liu's comment on chengxin taken and interpreted from an interview : threebodyproblem
      url: https://www.reddit.com/r/threebodyproblem/comments/o677d0/lius_comment_on_chengxin_taken_and_interpreted/
    - name: Liu Interview in Original Chinese
      url: https://www.douban.com/group/topic/17709616/?dt_dapp=1
    seconds: 2493
    hosts:
      - dan
      - thalia
      - amin
