---
layout: layouts/episode.njk
stuff:
  title: The Search by the Mule
  slug: the-search-by-the-mule
  season: 6
  number: 7
  date: 2022-01-20T00:00:00.000Z
  imageFilename: rehydrate-s6-ep7.jpg
  episodeFilename: rehydrate-s6-ep7-the-search-by-the-mule.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Seldon Crisis Podcast (0:00:33)'
    - 'History (0:01:42)'
    - 'Summary (0:02:05)'
    - 'Characters (0:04:56)'
    - 'General Impressions (0:05:30)'
    - 'Narrator (0:10:47)'
    - 'World Building (0:14:53)'
    - 'Communication (0:18:12)'
    - 'Emotional Control and Lying (0:20:03)'
    - 'Ineffciency of Speech (0:23:26)'
    - 'Pritcher (0:25:43)'
    - 'Other Lifeforms (0:32:58)'
    - 'So Many Plot Twists (0:37:47)'
    - 'What is the Second Foundation? (0:40:48)'
    - 'MKUltra (0:43:47)'
    - 'More on the Mule (0:51:04)'
    - 'Outro (0:58:24)'
    - 'Seldon Crisis Promo (0:59:04)'
  links:
    - name: Seldon Crisis – The Podcast
      url: 'https://seldoncrisis.transistor.fm/'
    - name: >-
        Astounding Science Fiction v40n5 : Street and Smith Publications : Free
        Download, Borrow, and Streaming : Internet Archive
      url: 'https://archive.org/details/AstoundingScienceFictionv40n5'
    - name: >-
        The CIA's Secret Quest For Mind Control: Torture, LSD And A 'Poisoner In
        Chief' : NPR 
      url: >-
        https://www.npr.org/2020/11/20/937009453/the-cias-secret-quest-for-mind-control-torture-lsd-and-a-poisoner-in-chief
    - name: 'The Gods Themselves by Isaac Asimov '
      url: 'https://www.goodreads.com/book/show/41821.The_Gods_Themselves'
    - name: 'Lower Decks (episode) | Memory Alpha | Fandom '
      url: 'https://memory-alpha.fandom.com/wiki/Lower_Decks_(episode)'
    - name: Synesthesia - Wikipedia
      url: 'https://en.wikipedia.org/wiki/Synesthesia'
    - name: The Time Machine by HG Wells
      url: 'https://www.goodreads.com/book/show/2493.The_Time_Machine'
    - name: A Wrinkle in Time - The Time Quintet by Madeleine L'Engle
      url: >-
        https://www.madeleinelengle.com/books/middle-grade-young-adult/a-wrinkle-in-time/
  episodeSummary: /episodes/summaries/rehydrate-s6-ep7-summary/index.html
  seconds: 3605
