---
layout: layouts/episode.njk
stuff:
  title: The General
  slug: the-general
  season: 6
  number: 4
  date: 2021-12-02T00:00:00.000Z
  imageFilename: rehydrate-s6-ep4.jpg
  episodeFilename: rehydrate-s6-ep4-the-general.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Show Schedule (0:01:02)'
    - 'History (0:02:11)'
    - 'Summary (0:03:30)'
    - 'Characters (0:06:10)'
    - 'General Thoughts (0:06:42)'
    - 'Free Will (0:11:10)'
    - 'SPOILERS: The Cold Equations (0:16:13)'
    - 'Other Books (0:16:59)'
    - 'Humor (0:18:55)'
    - 'Lack of Representation (0:21:15)'
    - 'Loss of Knowledge (0:24:31)'
    - 'Action vs. Inaction (0:27:32)'
    - 'Inability for Conquest (0:33:04)'
    - 'TV Show (0:38:10)'
    - 'Outro (0:47:27)'
  links:
    - name: The Cold Equations
      url: 'https://www.lightspeedmagazine.com/fiction/the-cold-equations/'
    - name: Foundation and Empire Review
      url: 'http://www.asimovreviews.net/Stories/Story045.html'
  episodeSummary: /episodes/summaries/rehydrate-s6-ep4-summary/index.html
  seconds: 2876
