---
layout: layouts/episode.njk
stuff:
  title: The Search by the Foundation
  slug: the-search-by-the-foundation
  season: 6
  number: 9
  date: 2022-03-08T00:00:00.000Z
  imageFilename: rehydrate-s6-ep9.jpg
  episodeFilename: rehydrate-s6-ep9-the-search-by-the-foundation.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Show Update (0:00:39)'
    - 'History (0:01:02)'
    - 'Summary (0:01:33)'
    - 'Characters (0:05:00)'
    - 'General Impressions (0:05:34)'
    - 'SPOILERS: His Dark Materials (0:09:48)'
    - 'Arkady (0:10:22)'
    - 'SPOILERS: His Dark Materials (0:12:17)'
    - 'More Arkady (0:12:53)'
    - 'Dr. Darell (0:15:04)'
    - 'WW2 Imagery (0:16:47)'
    - 'Kalgan (0:19:33)'
    - 'Second Foundation''s Power (0:23:56)'
    - 'Location of the Second Foundation (0:27:05)'
    - 'Second Foundation''s Plan (0:30:14)'
    - 'Plot Twists (0:33:06)'
    - 'Inevitability of Second Foundation''s Win (0:37:05)'
    - 'Thoughts on the Series (0:42:09)'
    - 'Mama and Papa (0:46:24)'
    - 'TV Show (0:51:22)'
    - 'Lady Callia (0:48:59)'
    - 'SPOLER: Foundation TV Show (0:52:14)'
    - 'Outro (0:56:46)'
  links:
    - name: Astounding Science Fiction - November 1949
      url: >-
        https://archive.org/details/AstoundingScienceFictionv44n3/page/n3/mode/2up
    - name: Astounding Science Fiction - December 1949
      url: >-
        https://archive.org/details/AstoundingScienceFictionv44n4/page/n119/mode/2up
    - name: Astounding Science Fiction - January 1950
      url: >-
        https://archive.org/details/AstoundingScienceFictionv44n5/page/n91/mode/2up
    - name: His Dark Materials
      url: 'https://www.goodreads.com/book/show/18116.His_Dark_Materials'
    - name: A Canticle for Leibowitz - Walter M. Miller Jr.
      url: 'https://www.goodreads.com/book/show/164154.A_Canticle_for_Leibowitz'
    - name: Foundation (TV Series)
      url: 'https://www.imdb.com/title/tt0804484/'
  episodeSummary: /episodes/summaries/rehydrate-s6-ep9-summary/index.html
  seconds: 3450
  hosts:
    - dan
    - priya
    - thalia
