---
layout: layouts/episode.njk
stuff:
  title: Interview - Jason
  slug: interview-jason
  season: 6
  date: 2021-11-06T00:00:00.000Z
  imageFilename: rehydrate-logo.jpg
  episodeFilename: rehydrate-s6-interview-jason.mp3
  summary: Jason goes over the Roman history of Belisarius and Justinian that is the basis for the main character of "The General", Bel Riose.
  topics:
    - 'Intro (0:00:00)'
    - 'Jason''s Background (0:00:32)'
    - 'Foundation Background (0:01:04)'
    - 'Belisarius and Justinian (0:03:34)'
    - 'Military Tactics (0:06:00)'
    - 'Context in Roman History (0:10:02)'
    - 'Place in History (0:14:51)'
    - 'Threats to the Emperor (0:16:38)'
    - 'Further Reading (0:19:42)'
    - 'Roman Identity (0:21:15)'
    - 'Wrap-Up (0:22:28)'
  links: ~
  seconds: 1478
  hosts:
    - dan
    - guest-jason
