---
layout: layouts/episode.njk
stuff:
  title: The Mule
  slug: the-mule
  season: 6
  number: 5
  date: 2021-12-16T00:00:00.000Z
  imageFilename: rehydrate-s6-ep5.jpg
  episodeFilename: rehydrate-s6-ep5-the-mule.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Show Update (0:00:41)'
    - 'History (0:01:02)'
    - 'Summary (0:01:31)'
    - 'Characters (0:04:07)'
    - 'General Impressions (0:04:42)'
    - 'Bayta and Female Repersentation (0:14:18)'
    - 'Bayta''s Motivation (0:17:22)'
    - 'The Mule (0:23:09)'
    - 'Fate of Devers (0:25:56)'
    - 'Inevitablity of the Foundation''s Victory (0:26:22)'
    - 'Will We See The Mule? (0:29:55)'
    - 'How is the Mule so Successful? (0:32:16)'
    - 'Seldon''s Wrong Prediction (0:38:56)'
    - 'Outro (0:42:49)'
  links:
    - name: Astounding Science Fiction (November 1945)
      url: 'https://archive.org/details/Astounding_v36n03_1945-11_cape1736/mode/2up'
    - name: Holophonor | Futurama Wiki
      url: 'https://futurama.fandom.com/wiki/Holophonor'
  episodeSummary: /episodes/summaries/rehydrate-s6-ep5-summary/index.html
  seconds: 2600
