---
layout: layouts/episode.njk
stuff:
  title: Interview - Joel
  slug: interview-joel
  season: 6
  date: 2022-04-07T00:00:00.000Z
  imageFilename: rehydrate-logo.jpg
  episodeFilename: rehydrate-s6-interview-joel.mp3
  summary: Joel from the Seldon Crisis podcast joins us to do a Foundation quote draft and talk about his experience with the series
  topics:
    - 'Intro (0:00:00)'
    - 'Draft Rules (0:02:18)'
    - 'Joel: Round 1, Pick 1 (0:03:16)'
    - 'Thalia: Round 1, Pick 2 (0:06:19)'
    - 'Priya: Round 1, Pick 3 (0:09:59)'
    - 'Dan: Round 1, Pick 4 (0:15:22)'
    - 'Dan: Round 2, Pick 1 (0:19:09)'
    - 'Priya: Round 2, Pick 2 (0:22:04)'
    - 'Thalia: Round 2, Pick 3 (0:26:37)'
    - 'Joel: Round 2, Pick 4 (0:28:51)'
    - 'Joel: Round 3, Pick 1 (0:39:33)'
    - 'Thalia: Round 3, Pick 2 (0:43:51)'
    - 'Priya: Round 3, Pick 3 (0:48:14)'
    - 'Dan: Round 3, Pick 4 (0:53:56)'
    - 'Conversation with Joel (0:57:39)'
    - 'Outro (1:16:20)'
  links:
    - name: Seldon Crisis Podcast
      url: 'https://www.seldoncrisis.net/'
  episodeSummary: /episodes/summaries/rehydrate-s6-epNaN-summary/index.html
  seconds: 4639
