---
layout: layouts/episode.njk
stuff:
  title: The Psychohistorians and Encyclopedists
  slug: the-psychohistorians-and-encyclopedists
  season: 6
  number: 1
  date: 2021-09-16T00:00:00.000Z
  imageFilename: rehydrate-s6-ep1.jpg
  episodeFilename: rehydrate-s6-ep1-the-psychohistorians-and-encyclopedists.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:04:50)'
    - 'Characters (0:07:51)'
    - 'How We''re Reading (0:09:20)'
    - 'Compare to Remembrance of Earth''s Past (0:14:11)'
    - 'World Building (0:20:45)'
    - 'Spying (0:25:09)'
    - 'Stagnation (0:26:36)'
    - 'The Time Machine (0:28:44)'
    - 'Caring About the Future (0:30:56)'
    - 'Free Will (0:33:55)'
    - 'Characters (0:43:03)'
    - 'Looking Forward (0:46:58)'
    - 'Outro (0:51:34)'
  links:
    - name: A Canticle for Leibowitz - Walter M. Miller Jr.
      url: 'https://en.wikipedia.org/wiki/A_Canticle_for_Leibowitz'
    - name: His Dark Materials - Philip Pullman
      url: 'https://en.wikipedia.org/wiki/His_Dark_Materials'
    - name: "Paradise Lost - \tJohn Milton"
      url: 'https://en.wikipedia.org/wiki/Paradise_Lost'
    - name: The Foundation Trilogy (BBC Radio)
      url: 'https://en.wikipedia.org/wiki/The_Foundation_Trilogy_(BBC_Radio)'
    - name: Foundation (TV series)
      url: 'https://en.wikipedia.org/wiki/Foundation_(TV_series)'
    - name: The Time Machine - H. G. Wells
      url: 'https://en.wikipedia.org/wiki/The_Time_Machine'
  episodeSummary: /episodes/summaries/rehydrate-s6-ep1-summary/index.html
  seconds: 3134
