---
layout: layouts/episode.njk
stuff:
  title: Arcadia
  slug: arcadia
  season: 6
  number: 8
  date: 2022-02-03T00:00:00.000Z
  imageFilename: rehydrate-s6-ep8.jpg
  episodeFilename: rehydrate-s6-ep8-arcadia.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Reactions (0:00:39)'
    - 'Podcast Recommendations (0:01:28)'
    - 'History (0:05:01)'
    - 'Summary (0:06:45)'
    - 'Characters (0:09:34)'
    - 'General Impressions (0:10:24)'
    - 'The Future of Seldon''s Plan (0:21:46)'
    - 'Crazy Theories (0:25:52)'
    - 'The Speakers (0:36:43)'
    - 'Arkady and Lady Callia (0:39:43)'
    - 'Arkady (0:44:22)'
    - 'O. Dam (0:46:57)'
    - 'Outro (0:50:31)'
  links:
    - name: Mind Duck Books Podcast
      url: 'http://mindduckbooks.zndesign.cz/'
    - name: Seldon Crisis – The Podcast
      url: 'https://seldoncrisis.transistor.fm/'
    - name: 'Stars End: A Foundation Podcast'
      url: 'https://starsendpodcast.wordpress.com/'
    - name: 5-year-old boy hacks dad's Xbox account | CNN Business
      url: >-
        https://www.cnn.com/2014/04/04/tech/gaming-gadgets/5-year-old-xbox-hack/index.html
    - name: Snow Crash by Neal Stephenson
      url: 'https://www.goodreads.com/book/show/40651883-snow-crash'
    - name: The Cold Equations - Lightspeed Magazine
      url: 'https://www.lightspeedmagazine.com/fiction/the-cold-equations/'
  episodeSummary: /episodes/summaries/rehydrate-s6-ep8-summary/index.html
  seconds: 3065
