---
layout: layouts/episode.njk
stuff:
  title: The Merchant Princes
  slug: the-merchant-princes
  season: 6
  number: 3
  date: 2021-10-14T00:00:00.000Z
  imageFilename: rehydrate-s6-ep3.jpg
  episodeFilename: rehydrate-s6-ep3-the-merchant-princes.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:00:47)'
    - 'Summary (0:02:37)'
    - 'Characters (0:05:24)'
    - 'Hardin vs. Mallow (0:06:25)'
    - 'Politicians (0:16:19)'
    - 'Anti-intellectualism (0:19:20)'
    - 'Nuclear Weapons (0:19:41)'
    - 'Shift In Power (0:23:00)'
    - 'Forces of Change (0:29:45)'
    - 'Promise of Riches (0:33:38)'
    - 'Housewives Uprising (0:37:34)'
    - 'Overall Thoughts (0:41:34)'
    - 'Foundation TV Show (0:48:46)'
    - 'Outro (1:01:37)'
  links:
    - name: 'Was Foundation (book) Controversial When it Came Out?: asimov'
      url: >-
        https://www.reddit.com/r/asimov/comments/pzzjfd/was_foundation_book_controversial_when_it_came_out/
    - name: >-
        Was Isaac Asimov secretly "ROBPROF," a Soviet spy within the highest
        ranks of academia?
      url: >-
        https://www.muckrock.com/news/archives/2013/nov/07/isaac-asimov-fbi-file-ROBPROF/
    - name: History of nuclear weapons
      url: 'https://en.wikipedia.org/wiki/History_of_nuclear_weapons'
    - name: Deadline (science fiction story)
      url: 'https://en.wikipedia.org/wiki/Deadline_(science_fiction_story)'
    - name: Deadline
      url: >-
        https://archive.org/details/Astounding_v33n01_1944-03_dtsg0318-LennyS/page/n153/mode/1up
    - name: Foundation (Apple TV+)
      url: >-
        https://tv.apple.com/us/show/foundation/umc.cmc.5983fipzqbicvrve6jdfep4x3
  episodeSummary: /episodes/summaries/rehydrate-s6-ep3-summary/index.html
  seconds: 3725
