---
layout: layouts/episode.njk
stuff:
  title: Start of the Search
  slug: start-of-the-search
  season: 6
  number: 6
  date: 2022-01-06T00:00:00.000Z
  imageFilename: rehydrate-s6-ep6.jpg
  episodeFilename: rehydrate-s6-ep6-start-of-the-search.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:00:51)'
    - 'History (0:03:32)'
    - 'Summary (0:03:49)'
    - 'Characters (0:06:38)'
    - 'General Impressions (0:07:25)'
    - 'SPOILERS: Dollhouse (0:14:22)'
    - 'Emotional Control (0:17:00)'
    - 'The Mule''s Motivation (0:21:52)'
    - 'The Scarlet Letter (0:25:52)'
    - 'Bayta''s Motivation (0:27:48)'
    - 'Death of a Psychologist (0:33:40)'
    - 'Mule''s Exposition (0:42:10)'
    - 'Outro (0:42:52)'
  links:
    - name: Mind Duck | Remembrance of Earth's Past
      url: >-
        https://zndesign.cz/mindduckjapan/2022/01/02/mdbooks-4-remembrance-of-earths-past-trilogy-by-cixin-liu/
    - name: Encyclopedia Galactica
      url: 'https://terminuscity.tripod.com/chars/index.html'
    - name: Astounding Science Fiction - December 1945
      url: >-
        https://archive.org/details/Astounding_v36n04_1945-12_cape1736_fixed/page/n3/mode/2up
    - name: The Wandering Earth
      url: 'https://www.imdb.com/title/tt7605074/?ref_=nv_sr_srsg_0'
    - name: Doll House
      url: ''
  episodeSummary: /episodes/summaries/rehydrate-s6-ep6-summary/index.html
  seconds: 2603
