---
layout: layouts/episode.njk
stuff:
  title: Kanly
  slug: kanly
  season: 7
  number: 9
  date: 2023-06-03T00:00:00.000Z
  imageFilename: rehydrate-s7-ep9.jpg
  episodeFilename: rehydrate-s7-ep9-kanly.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:01:25)'
    - 'Characters (0:03:25)'
    - 'Initial Impressions (0:04:03)'
    - 'Little Leto (0:11:04)'
    - 'Abrupt Endings (0:14:12)'
    - 'Paul''s Coma (0:20:44)'
    - 'Dune Sequels (0:21:55)'
    - 'Time Jumps (0:25:42)'
    - 'Favorite Part of the Book (0:31:18)'
    - 'Dune: Part 2 (0:42:58)'
    - 'Ranking Dune (0:46:38)'
    - 'Outro (0:54:45)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep9-summary/index.html
  seconds: 3332
  hosts:
    - dan
    - priya
    - thalia
    - amin
