---
layout: layouts/episode.njk
stuff:
  title: Desert Power
  slug: desert-power
  season: 7
  number: 2
  date: 2022-12-17T00:00:00.000Z
  imageFilename: rehydrate-s7-ep2.jpg
  episodeFilename: rehydrate-s7-ep2-desert-power.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:01:28)'
    - 'Summary (0:02:40)'
    - 'Characters (0:08:38)'
    - 'Jessica (0:09:12)'
    - 'The Duke (0:17:57)'
    - 'Water (0:23:06)'
    - 'Sandworms & Crysknife (0:35:51)'
    - 'Paul (0:38:25)'
    - 'More on The Duke (0:40:07)'
    - 'On That Path Lies Danger (0:44:54)'
    - 'From the Top of the Mountain, You Cannot See the Mountain (0:46:19)'
    - 'Outro (0:47:54)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep2-summary/index.html
  seconds: 2900
