---
layout: layouts/episode.njk
stuff:
  title: Spannungsbogen
  slug: spannungsbogen
  season: 7
  number: 6
  date: 2023-04-29T00:00:00.000Z
  imageFilename: rehydrate-s7-ep6.jpg
  episodeFilename: rehydrate-s7-ep6-spannungsbogen.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Dune Movie (0:01:29)'
    - 'Summary (0:04:31)'
    - 'Characters (0:07:25)'
    - 'Initial Impressions (0:07:55)'
    - 'Kynes (0:10:44)'
    - 'Religion (0:15:31)'
    - 'Fremen (0:20:52)'
    - 'Environment (0:27:35)'
    - 'Spannungsbogen (0:29:58)'
    - 'Jessica (0:33:05)'
    - 'Riding Sandwoms (0:37:36)'
    - 'Names (0:42:17)'
    - 'A Voice in the Spice Cloud (0:45:16)'
    - 'Outro (0:46:29)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep6-summary/index.html
  seconds: 2817
