---
layout: layouts/episode.njk
stuff:
  title: Fear's Path
  slug: fears-path
  season: 7
  number: 5
  date: 2023-03-11T00:00:00.000Z
  imageFilename: rehydrate-s7-ep5.jpg
  episodeFilename: rehydrate-s7-ep5-fears-path.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Follow-Up (0:01:14)'
    - 'Characters (0:05:24)'
    - 'Summary (0:06:24)'
    - 'General Impressions (0:08:38)'
    - 'Front Matter Quotes (0:20:44)'
    - 'More on the Baron (0:22:55)'
    - 'Paul and Jessica (0:28:36)'
    - 'Paul''s Precience (0:33:14)'
    - 'Bat Messengers (0:36:53)'
    - 'Spoilers and Racoons (0:39:01)'
    - 'Jessica (0:40:29)'
    - 'Outro (0:44:14)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep5-summary/index.html
  seconds: 2681
