---
layout: layouts/episode.njk
stuff:
  title: 'The Prophet'
  slug: 'the-prophet'
  season: 7
  number: 8
  date: 2023-05-27T00:00:00.000Z
  imageFilename: rehydrate-s7-ep8.jpg
  episodeFilename: rehydrate-s7-ep8-the-prophet.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Follow Up (0:00:58)'
    - 'Characters (0:02:43)'
    - 'Summary (0:03:16)'
    - 'Initial Impressions (0:05:21)'
    - 'Baron (0:09:20)'
    - 'Strongest Survive (0:16:55)'
    - 'Paul (0:21:31)'
    - 'Alia (0:28:18)'
    - 'Paul''s Child (0:33:23)'
    - 'Jessica, Alia, and Harrah (0:36:42)'
    - 'Paul and Stilgar (0:41:38)'
    - 'Predictions (0:45:48)'
    - 'Outro (0:52:50)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep8-summary/index.html
  seconds: 3200
