---
layout: layouts/episode.njk
stuff:
  title: Caladan
  slug: caladan
  season: 7
  number: 1
  date: 2022-11-27T00:00:00.000Z
  imageFilename: rehydrate-s7-ep1.jpg
  episodeFilename: rehydrate-s7-ep1-caladan.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Reading List (0:01:58)'
    - 'What Have We Been Doing? (0:02:51)'
    - 'Summary (0:06:30)'
    - 'Characters (0:10:18)'
    - 'History (0:11:58)'
    - 'General Impressions (0:12:37)'
    - 'Ready Player One (0:23:37)'
    - 'Writing Style (0:20:06)'
    - 'Dune Quotes (0:25:41)'
    - 'Humanity (0:34:05)'
    - 'Robots (0:37:35)'
    - 'Guildsman (0:41:08)'
    - 'Fear (0:41:58)'
    - 'Outro (0:43:05)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep1-summary/index.html
  seconds: 2708
