---
layout: layouts/episode.njk
stuff:
  title: The Banquet
  slug: the-banquet
  season: 7
  number: 3
  date: 2023-01-14T00:00:00.000Z
  imageFilename: rehydrate-s7-ep3.jpg
  episodeFilename: rehydrate-s7-ep3-the-banquet.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Follow Up (0:01:26)'
    - 'Characters (0:02:11)'
    - 'Summary (0:03:08)'
    - 'General Impressions (0:05:55)'
    - 'Recipies! (0:15:36)'
    - 'Fremen Religion (0:16:52)'
    - '3.5% Rule & Morality (0:22:16)'
    - 'Politics (0:26:24)'
    - 'Adaptations (0:38:24)'
    - 'Jessica and Paul at the Dinner (0:45:52)'
    - 'Conclusion (0:48:08)'
    - 'Outro (0:50:16)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep3-summary/index.html
  seconds: 3042
  hosts:
    - dan
    - priya
    - thalia
    - amin
