---
layout: layouts/episode.njk
stuff:
  title: The Water of Life
  slug: the-water-of-life
  season: 7
  number: 7
  date: 2023-05-20T00:00:00.000Z
  imageFilename: rehydrate-s7-ep7.jpg
  episodeFilename: rehydrate-s7-ep7-the-water-of-life.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Characters (0:00:50)'
    - 'Summary (0:01:55)'
    - 'Impressions (0:04:59)'
    - 'Paul''s Leadership (0:14:47)'
    - 'Water (0:21:49)'
    - 'Loyalty (0:32:17)'
    - 'Bene Geserit (0:38:03)'
    - 'Paul''s Enemy (0:42:44)'
    - 'Is Dune Spoilable? (0:47:04)'
    - 'SPOILER: Foundation (0:52:10)'
    - 'Dune Lore (0:54:34)'
    - 'Fremen Technology (0:59:31)'
    - 'Jessica''s Child (1:02:35)'
    - 'Outro (1:04:47)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s7-ep7-summary/index.html
  seconds: 3913
