---
layout: layouts/episode.njk
stuff:
  title: Remembering Siri
  slug: remembering-siri
  season: 8
  number: 6
  date: 2024-01-15T00:00:00.000Z
  imageFilename: rehydrate-s8-ep6.jpg
  episodeFilename: rehydrate-s8-ep6-remembering-siri.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:00:35)'
    - 'Characters (0:04:32)'
    - 'Impressions (0:05:08)'
    - 'Why Italics? (0:16:20)'
    - 'The Poet Speaks the Truth (0:18:32)'
    - 'Beep (0:19:44)'
    - 'You''ll Never Guess What Book We Compare This One To (0:21:55)'
    - 'Author''s Capability (0:25:49)'
    - 'New Rankings (0:30:28)'
    - 'Worse Books? (0:42:01)'
    - 'Outro (0:46:17)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s8-ep6-summary/index.html
  seconds: 2811
  hosts:
    - dan
    - priya
    - thalia
