---
layout: layouts/episode.njk
stuff:
  title: Hyperion Cantos
  slug: hyperion-cantos
  season: 8
  number: 3
  date: 2024-01-12T00:00:00.000Z
  imageFilename: rehydrate-s8-ep3.jpg
  episodeFilename: rehydrate-s8-ep3-hyperion-cantos.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Welcome Andreu (0:00:53)'
    - 'Summary (0:06:02)'
    - 'Characters (0:09:13)'
    - 'First Impressions (0:10:24)'
    - 'Farcaster (0:28:14)'
    - 'Dying Earth (0:25:41)'
    - 'Body Modification (0:31:48)'
    - 'Drug Use (0:34:04)'
    - 'Violence (0:36:44)'
    - 'Language and Style (0:38:43)'
    - 'Perfume (0:42:36)'
    - 'Tyrena & Body Modification (0:44:26)'
    - 'History (0:48:44)'
    - 'Time Tombs (0:55:48)'
    - 'Keats (0:59:10)'
    - 'Orwell (0:56:28)'
    - 'Verne (1:06:51)'
    - 'Outro (1:10:30)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s8-ep3-summary/index.html
  seconds: 4270
  hosts:
    - dan
    - priya
    - thalia
