---
layout: layouts/episode.njk
stuff:
  title: The Man Who Cried God
  slug: the-man-who-cried-god
  season: 8
  number: 1
  date: 2024-01-10T00:00:00.000Z
  imageFilename: rehydrate-s8-ep1.jpg
  episodeFilename: rehydrate-s8-ep1-the-man-who-cried-god.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:01:00)'
    - 'Plan for the Season (0:05:58)'
    - 'Summary (0:06:28)'
    - 'Characters (0:10:37)'
    - 'First Impressions (0:11:40)'
    - 'What Genre is Hyperion? (0:19:39)'
    - 'Time (0:21:31)'
    - 'Cruciform (0:27:32)'
    - 'Bikura (0:30:50)'
    - 'Immortality (0:37:45)'
    - 'World Building (0:39:22)'
    - 'Language (0:42:55)'
    - 'Consul (0:48:32)'
    - 'Outro (0:52:31)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s8-ep1-summary/index.html
  seconds: 3179
