---
layout: layouts/episode.njk
stuff:
  title: The Long Good-Bye
  slug: the-long-good-bye
  season: 8
  number: 5
  date: 2024-01-10T00:00:00.000Z
  imageFilename: rehydrate-s8-ep5.jpg
  episodeFilename: rehydrate-s8-ep5-the-long-good-bye.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:00:43)'
    - 'Summary (0:00:41)'
    - 'Characters (0:04:39)'
    - 'Impressions (0:05:36)'
    - 'Johnny (0:12:41)'
    - 'World Building (0:20:38)'
    - 'Next Chapter? (0:26:43)'
    - 'What Did You Like? (0:29:04)'
    - 'Disposable Characters (0:34:33)'
    - 'Bringing it Back Together? (0:35:43)'
    - 'Still Recommend? (0:38:31)'
    - 'Ranking the Chapters (0:39:52)'
    - 'Outro (0:47:05)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s8-ep5-summary/index.html
  seconds: 2862
  hosts:
    - dan
    - priya
    - thalia
