---
layout: layouts/episode.njk
stuff:
  title: The War Lovers
  slug: the-war-lovers
  season: 8
  number: 2
  date: 2024-01-10T00:00:00.000Z
  imageFilename: rehydrate-s8-ep2.jpg
  episodeFilename: rehydrate-s8-ep2-the-war-lovers.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:00:43)'
    - 'Characters (0:05:04)'
    - 'First Impressions (0:05:27)'
    - 'Technology (0:11:44)'
    - 'Ousters & Shrike (0:13:21)'
    - 'Writing Style (0:14:59)'
    - 'Kassad (0:18:26)'
    - 'Future History (0:20:40)'
    - 'Thalia''s Prediction (0:26:48)'
    - 'Imaginary Girlfriends (0:32:07)'
    - 'Shrike? (0:42:11)'
    - 'Outro (0:46:35)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s8-ep2-summary/index.html
  seconds: 2822
  hosts:
    - dan
    - priya
    - thalia
