---
layout: layouts/episode.njk
stuff:
  title: Preview
  slug: preview
  season: 9
  number: 0
  date: 2024-03-15T00:00:00.000Z
  imageFilename: rehydrate-s9-ep0.jpg
  episodeFilename: rehydrate-s9-ep0-preview.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Season Plan (0:03:31)'
    - 'Expectations (0:08:28)'
    - 'Wade (0:15:06)'
    - 'TV Show Characters (0:16:26)'
    - 'Reddit (0:22:38)'
    - 'Excitement (0:27:46)'
    - 'Re-read? (0:47:38)'
    - 'Closing Notes (0:49:42)'
    - 'Outro (0:52:58)'
  links: ~
  seconds: 3223
  hosts:
  - dan
  - priya
  - thalia
