---
layout: layouts/episode.njk
stuff:
  title: Judgement Day
  slug: judgement-day
  season: 9
  number: 2
  date: 2024-04-04T00:00:00.000Z
  imageFilename: rehydrate-s9-ep2.jpg
  episodeFilename: rehydrate-s9-ep2-judgement-day.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:01:29)'
    - 'Summary (0:03:29)'
    - 'Characters (0:09:17)'
    - 'General Impressions (0:10:05)'
    - 'Missing Book Elements (0:16:58)'
    - 'Wade (0:41:00)'
    - 'Evans (0:47:07)'
    - 'Ye Wenjie and Da Shi (0:57:46)'
    - 'Recommending the books (1:08:57)'
    - 'Raj (1:12:33)'
    - 'Sophon Creation (1:16:11)'
    - 'Pacing (1:17:39)'
    - 'Esquire Article (1:19:49)'
    - 'Tatiana (1:24:38)'
    - 'Outro (1:29:09)'
  links:
    - name: Vulture Interview
      url: >-
        https://www.vulture.com/article/3-body-problem-netflix-adaptation-explained.html
    - name: Esquire
      url: >-
        https://www.esquire.com/entertainment/tv/a60254017/3-body-problem-book-vs-tv-show/
  episodeSummary: /episodes/summaries/rehydrate-s9-ep2-summary/index.html
  hosts:
  - dan
  - priya
  - thalia
  seconds: 5394
