---
layout: layouts/episode.njk
stuff:
  title: Destroyer of Worlds
  slug: destroyer-of-worlds
  season: 9
  number: 1
  date: 2024-03-27T00:00:00.000Z
  imageFilename: rehydrate-s9-ep1.jpg
  episodeFilename: rehydrate-s9-ep1-destroyer-of-worlds.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Season Info (0:00:55)'
    - 'Summary (0:01:58)'
    - 'Characters (0:06:46)'
    - 'General Impressions (0:08:52)'
    - 'China (0:21:33)'
    - 'Oxford 5 (0:36:29)'
    - 'VR Game (0:49:20)'
    - 'Tatiana (0:52:46)'
    - 'More on VR (0:55:02)'
    - 'Raj (0:57:29)'
    - 'Evans (1:02:11)'
    - 'Final Random Thoughts (1:07:20)'
    - 'Outro (1:12:55)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s9-ep1-summary/index.html
  seconds: 4407
  hosts:
  - dan
  - priya
  - thalia
