---
layout: layouts/episode.njk
stuff:
  title: The Stars Our Destination
  slug: the-stars-our-destination
  season: 9
  number: 3
  date: 2024-04-10T00:00:00.000Z
  imageFilename: rehydrate-s9-ep3.jpg
  episodeFilename: rehydrate-s9-ep3-the-stars-our-destination.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:01:17)'
    - 'Summary - Episode 6 (0:05:49)'
    - 'Summary - Episode 7 (0:08:02)'
    - 'Summary - Episode 8 (0:10:16)'
    - 'Characters (0:13:16)'
    - 'General Impressions and Favorite Scenes (0:14:11)'
    - 'Will (0:28:30)'
    - 'Should I Read the Books? (0:47:23)'
    - 'Staircase Project (0:48:30)'
    - 'San-TI OP (0:49:44)'
    - 'Starcase Project Continued (0:59:44)'
    - 'Wallfacers (1:01:53)'
    - 'Scenes from Future Seasons (1:11:19)'
    - 'Saul (1:16:42)'
    - 'Ye Wenjie (1:19:43)'
    - 'My Sunset (1:27:12)'
    - 'Foreshadowing (1:35:09)'
    - 'Characters (1:39:14)'
    - 'Favorite Episode (1:41:47)'
    - 'Grading the Season (1:44:50)'
    - 'Where Does Season 2 End? (1:50:56)'
    - 'Outro (1:54:33)'
    - 'Spoiler Warning (0:00:54)'
  links:
    - name: >-
        ‘The Three-Body Problem’ and ‘Silent Spring’ Books Rocket to No. 1 on
        Amazon After Netflix Debut
      url: >-
        https://variety.com/2024/shopping/news/three-body-problem-silent-spring-books-buy-online-1235950943/
    - name: NYT Best Sellers List
      url: 'https://www.nytimes.com/books/best-sellers/'
    - name: Netflix FYC
      url: 'https://series.netflixawards.com/drama-series'
    - name: Netflix Global Top 10
      url: 'https://www.netflix.com/tudum/top10/tv'
  episodeSummary: /episodes/summaries/rehydrate-s9-ep3-summary/index.html
  seconds: 6932
  hosts:
    - dan
    - priya
    - thalia
