---
layout: layouts/episode.njk
stuff:
  title: Scene Draft
  summary: The hosts run a draft of future scenes that would like (and would not like) to see adapted in future seasons of the TV show
  slug: scene-draft
  season: 9
  number: 4
  date: 2024-05-13T00:00:00.000Z
  imageFilename: rehydrate-s9-ep4.jpg
  episodeFilename: rehydrate-s9-ep4-scene-draft.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Followup (0:01:18)'
    - 'Rules (0:02:05)'
    - 'Round 1 - Priya (0:03:31)'
    - 'Round 1 - Thalia (0:06:19)'
    - 'Round 1 - Dan (0:08:16)'
    - 'Round 2 - Dan (0:10:14)'
    - 'Round 2 - Thalia (0:15:56)'
    - 'Round 2 - Priya (0:20:06)'
    - 'Round 3 - Priya (0:22:50)'
    - 'Round 3 - Thalia (0:30:03)'
    - 'Round 3 - Dan (0:32:47)'
    - 'Round 4 - Dan (0:34:21)'
    - 'Round 4 - Thalia (0:38:32)'
    - 'Round 4 - Priya (0:41:49)'
    - 'Round 5 - Priya (0:45:00)'
    - 'Round 5 - Thalia (0:53:29)'
    - 'Round 5 - Dan (0:57:58)'
    - 'Wrap-up (1:00:59)'
    - 'Outro (1:06:50)'
  links:
    - name: The Three-Body Problem - Summary
      url: >-
        https://rehydrate.space/episodes/three-body-problem-collected-summaries/index.html
    - name: The Dark Forest - Summary
      url: >-
        https://rehydrate.space/episodes/the-dark-forest-collected-summaries/index.html
    - name: Death's End - Summary
      url: >-
        https://rehydrate.space/episodes/deaths-end-collected-summaries/index.html
  seconds: 4038
  hosts:
    - dan
    - priya
    - thalia
