---
layout: layouts/episode.njk
stuff:
  title: 'Interview: Guy & Mike'
  summary: Dan & Thalia speak with friends of the show, Guy and Mike about Project Hail Mary, Andy Weir, and Science Fiction
  slug: interview-guy-mike
  season: 10
  date: 2025-09-24T00:00:00.000Z
  imageFilename: rehydrate-s10.jpg
  episodeFilename: rehydrate-s10-interview-guy-mike.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Project Hail Mary vs. The Martian (0:02:46)'
    - 'Where to Rank Andy Weir? (0:17:12)'
    - 'Optimism vs. Dystopia (0:22:30)'
    - 'Open Discussion (0:28:00)'
    - 'Favorite Scientific Concept (0:32:38)'
    - 'What Do You Re-Read? (0:35:57)'
    - 'Adaptation Most Looking Forward To (0:43:20)'
    - 'Outro (0:46:34)'
  links: ~
  seconds: 2841
  hosts:
    - dan
    - thalia
