---
layout: layouts/episode.njk
stuff:
  title: Astrophage
  slug: astrophage
  season: 10
  number: 1
  date: 2025-08-19T00:00:00.000Z
  imageFilename: rehydrate-s10-ep1.jpg
  episodeFilename: rehydrate-s10-ep1-astrophage.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Intro (0:00:19)'
    - 'Followup (0:01:20)'
    - 'Summary (0:06:56)'
    - 'Impressions (0:10:25)'
    - 'Plausability (0:18:24)'
    - 'Movie Trailer (0:32:10)'
    - 'Audio Book (0:37:05)'
    - 'Spaceship (0:43:23)'
    - 'Unlikely Hero (0:44:10)'
    - 'Outro (0:52:19)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s10-ep1-summary/index.html
  seconds: 3180
  hosts:
    - dan
    - priya
    - thalia
