---
layout: layouts/episode.njk
stuff:
  title: Jazz Hands
  slug: jazz-hands
  season: 10
  number: 2
  date: 2025-08-26T00:00:00.000Z
  imageFilename: rehydrate-s10-ep2.jpg
  episodeFilename: rehydrate-s10-ep2-jazz-hands.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:01:42)'
    - 'Characters (0:05:24)'
    - 'Impressions (0:07:52)'
    - 'Movie Translation (0:10:20)'
    - 'Back on Earth (0:13:47)'
    - 'Emotions (0:15:53)'
    - 'Communicating (0:19:20)'
    - 'Intelligent Life (0:26:17)'
    - 'Base 6 (0:30:18)'
    - 'Movie Directors (0:33:24)'
    - 'Sleeping (0:39:11)'
    - 'Foreshadowing (0:44:29)'
    - 'Character Strengths (0:48:48)'
    - 'Audiobook Experiences (0:51:09)'
    - 'Outro (0:53:12)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s10-ep2-summary/index.html
  seconds: 3223
  hosts:
    - dan
    - priya
    - thalia
