---
layout: layouts/episode.njk
stuff:
  title: Amaze
  slug: amaze
  season: 10
  number: 4
  date: 2025-09-09T00:00:00.000Z
  imageFilename: rehydrate-s10-ep4.jpg
  episodeFilename: rehydrate-s10-ep4-amaze.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:01:02)'
    - 'Impressions (0:05:41)'
    - 'Writing Feature? (0:11:39)'
    - 'Quibble with the Very End (0:17:57)'
    - 'Hard Sci Fi? (0:24:18)'
    - 'Optimism (0:31:25)'
    - 'SPOILERS: The Martian (0:37:20)'
    - 'Eridian Civilization (0:39:33)'
    - 'Ranking Project Hail Mary (0:42:57)'
    - 'Outro (0:48:37)'
    - 'MAJOR SPOILER: Three-Body Problem (0:49:18)'
  links:
    - name: Reddit | Eridian Biology (From Project Hail Mary) - canon
      url: >-
        https://www.reddit.com/r/SpeculativeEvolution/comments/s5ixcv/eridian_biology_from_project_hail_mary_canon/?share_id=AYxMctZPbg4A-qwVlSTVK&utm_medium=android_app&utm_name=androidcss&utm_source=share&utm_term=1
    - name: Reddit | AMA
      url: >-
        https://www.reddit.com/r/ProjectHailMary/comments/1m7h3gu/comment/n54jkx2/?context=3
    - name: >-
        Andy Weir's 'Project Hail Mary' - A conversation with science-fiction
        author, Andy Weir
      url: 'https://www.youtube.com/watch?v=vu7qoR6SAAs'
  episodeSummary: /episodes/summaries/rehydrate-s10-ep4-summary/index.html
  seconds: 3247
  hosts:
    - dan
    - priya
    - thalia
