---
layout: layouts/episode.njk
stuff:
  title: Adrian
  slug: adrian
  season: 10
  number: 3
  date: 2025-09-02T00:00:00.000Z
  imageFilename: rehydrate-s10-ep3.jpg
  episodeFilename: rehydrate-s10-ep3-adrian.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:00:52)'
    - 'Characters (0:05:04)'
    - 'Impressions (0:06:02)'
    - 'Movie Distraction (0:13:14)'
    - 'Fake Out (0:14:06)'
    - 'Taumeoba (0:23:13)'
    - 'Science Contradiction (0:29:51)'
    - 'Coma Gene (0:31:13)'
    - 'DuBois and Shapiro (0:34:52)'
    - 'Yep, More Three-Body Talk (0:38:40)'
    - 'What Was Stratt Thinking? (0:43:16)'
    - 'Death Preferences (0:47:58)'
    - 'Revisions (0:53:04)'
    - 'Overall Thoughts (0:54:01)'
    - 'Outro (0:59:01)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s10-ep3-summary/index.html
  seconds: 3570
  hosts:
    - dan
    - priya
    - thalia
