---
title: >
  Rehydrate - Season 1, Epsiode 1: Silent Spring
date: 2020-11-02
stuff:
  title: Silent Spring
  slug: silent-spring
  season: 1
  number: 1
  date: 2020-11-02
  imageFilename: rehydrate-s1-ep1.jpg
  topics:
    - Liu Cixin's dual stance on authoritarianism
    - The upcoming TV series and Benioff and Weiss
    - Expectations about sci-fi stories
    - Chapters 1 and 2 of the Three-Body Problem
  links:
    -
      url: https://www.newyorker.com/magazine/2019/06/24/liu-cixins-war-of-the-worlds
      name: "New Yorker interview with Liu Cixin (warning: spoilers)"
    -
      url: https://variety.com/2020/tv/news/three-body-problem-series-netflix-david-benioff-d-b-weiss-alexander-woo-1234755170/
      name: Announcement of the Three-body Problem TV Series
    -
      url: https://www.independent.co.uk/arts-entertainment/tv/news/three-body-problem-netflix-liu-cixin-china-uighur-muslims-human-rights-b668698.html
      name: Netflix defends itself
  transcript: /episodes/transcripts/rehydrate-s1-ep1-transcript/index.html
seconds: 1560
layout: layouts/episode.njk
