---
date: 2020-11-02
stuff:
  title: >
    Episode 1: Silent Spring
  slug: silent-spring
  season: 1
  number: 1
  date: 2020-11-02
  imageFilename: gomboc.gif
  findings:
    -
      text: Surnameless cultures
      links:
        -
          url: https://www.goodreads.com/book/show/44075878-the-hidden-history-of-burma?qid=DqEahLTBzj&rank=1
          name: The Hidden History of Burma
        -
          url: https://en.wikipedia.org/wiki/Mononymous_person#Mononym-normal
          name: Wikipedia on Mononyms
        -
          url: https://en.wikipedia.org/wiki/Javanese_name
          name: Javanese names
    -
      text: The gömböc
      links:
        -
          name: Wikipedia on the gömböc
          url: https://en.wikipedia.org/wiki/G%C3%B6mb%C3%B6c
    -
      text: Lenin's style and stance on state capitalism
      links:
        -
          url: https://www.marxists.org/archive/lenin/works/1918/may/09.htm
          name: V.I. Lenin's “Left-Wing” Childishness
        -
          url: https://www.nytimes.com/2020/08/05/books/review/true-crimes-and-misdemeanors-jeffrey-toobin.html
          name: Jeffrey Toobin's True Crimes and Misdemeanors review
        -
          url: https://rehydrate.space/episodes/when-theres-lightning
          name: Episode 3, with a segment about China's state capitalism
        -
          url: https://en.wikipedia.org/wiki/Vladimir_Lenin
          name: Lenin's Wikipedia article
seconds: 1560
layout: episode.njk
