---
layout: layouts/episode.njk
stuff:
  title: Singer
  slug: singer
  season: 5
  number: 6
  date: 2021-08-29T00:00:00.000Z
  imageFilename: rehydrate-s5-ep6.jpg
  topics:
    - 'Intro (0:00:00)'
    - 'Summary (0:01:19)'
    - 'Orion Arm of the Milky Way (0:04:26)'
    - 'Singer (0:05:13)'
    - 'Civilization Progress (0:11:41)'
    - 'Singer Terminology (0:14:19)'
    - '2D Protection (0:29:28)'
    - 'Two-Dimensionalization (0:34:03)'
    - 'Bai Ice''s Dream (0:45:30)'
    - 'Re-reading (0:47:51)'
    - 'Niagra Falls (0:50:21)'
    - 'Bai Ice''s Dream pt. 2 (0:53:24)'
    - 'Pluto (0:56:12)'
    - 'Earth Civilization Museum (1:01:00)'
    - 'Starry Sky (1:01:43)'
    - 'Along the River During the Qingming Festival (1:03:18)'
    - 'Human Race (1:04:54)'
    - 'Cheng Xin and Lightspeed (1:09:53)'
    - 'Outro (1:19:30)'
  links:
    - name: 2D Visualization
      url: 'https://github.com/fshi7418/dim_reduce'
    - name: Along the River During the Qingming Festival
      url: >-
        https://en.wikipedia.org/wiki/Along_the_River_During_the_Qingming_Festival
    - name: The Starry Night
      url: 'https://en.wikipedia.org/wiki/The_Starry_Night'
    - name: Sex and Character
      url: 'https://en.wikipedia.org/wiki/Otto_Weininger'
  episodeSummary: /episodes/summaries/rehydrate-s5-ep6-summary/index.html
  seconds: 4814
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s5-ep6-spoilercast.jpg
    episodeFilename: rehydrate-s5-ep6-singer-spoilercast.mp3
    desc: >-
      Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past
      series with full spoilers
    topics:
      - 'Intro (0:00:00)'
      - 'Followup (0:01:19)'
      - 'Summary (0:03:19)'
      - 'Who Destroyed the Solar System? (0:04:00)'
      - 'Singer Terminology (0:07:23)'
      - 'Luo Ji (0:10:40)'
      - 'Trisolaans (0:12:21)'
      - 'Membranes (0:15:41)'
      - 'Trusting an Audience (0:20:13)'
      - 'Thought Control (0:23:40)'
      - 'Monitoring (0:28:01)'
      - 'Getting Close to the End (0:30:21)'
      - 'Outro (0:32:46)'
    links: ~
    seconds: 1999

