---
layout: layouts/episode.njk
stuff:
  title: Sunset for Humanity
  slug: sunset-for-humanity
  season: 1
  number: 7
  date: 2021-01-19
  imageFilename: rehydrate-s1-ep7.jpg
  topics:
    - Big Iconic Events
    - Villainy and Motivations
    - Universal Translatable Language & Realistic Motivations
    - Space Elevators
    - Sun As A Reflector
    - Adventists and Redemptionists
    - Nuclear Weapons
    - Reliable Narrators / Malicious Intent?
    - Action from Da Shi
    - Scientific Explanations on the Screen
  links: ~
  seconds: 1925
