---
layout: layouts/episode.njk
stuff:
  title: 'Unfathomable: Tennis'
  literalTitle: 'Unfathomable 1: Tennis'
  slug: tennis
  season: 4
  number: 1
  date: 2021-03-26
  imageFilename: rehydrate-s4-ep1.jpg
  summary: The Rehydrate crew tries to understand the works of the indie pop band Tennis under the guidance of Tim.
  detailsLinkText: Discussion track list and more
  topics:
    - South Carolina
    - Origins
    - Mean Streets
    - Night Vision
    - Ladies Don't Play Guitar
    - Need Your Love
    - Currently listening links
  links:
    -
      name: Tennis (the band)
      url: https://tennis-music.com/
    -
      name: Playlist on Spotify
      url: https://open.spotify.com/playlist/5Xb6wcoeB2ktgaDz6PohbL
  seconds: 2400
