---
layout: layouts/episode.njk
stuff:
  title: The Swordholders
  slug: the-swordholders
  season: 5
  number: 2
  date: 2021-07-06T00:00:00.000Z
  imageFilename: rehydrate-s5-ep2.jpg
  topics: ~
  episodeSummary: /episodes/summaries/rehydrate-s5-ep2-summary/index.html
  links:
    - name: Ren & Stimpy - Space Madness
      url: 'https://renandstimpy.fandom.com/wiki/Space_Madness'
    - name: Aqua Teen Hunger Force - Hypno Germ
      url: 'https://aqua-teen-hunger-force.fandom.com/wiki/Hypno-Germ'
    - name: The Arrival
      url: 'https://en.wikipedia.org/wiki/The_Arrival_(1996_film)'
  seconds: 3089
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s5-ep2-spoilercast.jpg
    episodeFilename: rehydrate-s5-ep2-the-swordholders-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links: ~
    seconds: 2111