---
layout: layouts/episode.njk
stuff:
  title: The Snow Project
  slug: the-snow-project
  season: 3
  number: 6
  date: 2021-05-30T00:00:00.000Z
  imageFilename: rehydrate-s3-ep6.jpg
  topics: ~
  links:
    - name: Fermi Paradox
      url: 'https://en.wikipedia.org/wiki/Fermi_paradox'
  episodeSummary: /episodes/summaries/rehydrate-s3-ep6-summary/index.html
  seconds: 3338
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s3-ep6-spoilercast.jpg
    episodeFilename: rehydrate-s3-ep6-the-snow-project-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
    - name: Redemption of Time
      url: https://www.goodreads.com/book/show/36262251-the-redemption-of-time
    seconds: 3005
