---
layout: layouts/episode.njk
stuff:
  title: The Universe Flickers
  slug: the-universe-flickers
  season: 1
  number: 4
  date: 2020-12-06
  imageFilename: rehydrate-s1-ep4.jpg
  topics:
    - Are there enough water resources for everyone to rehydrate?
    - Theories on what the Three Body game is
    - Could humans evolve to dehydrate and rehydrate as is in the game?
    - Highly technical writing
    - Would you play Three Body?
    - How will the Three Body game look on screen?
  links:
    - name: Tardigrades
      url: https://en.wikipedia.org/wiki/Tardigrade
  seconds: 1502
