---
layout: layouts/episode.njk
stuff:
  title: The Wallfacers
  slug: the-wallfacers
  season: 3
  number: 1
  date: 2021-03-28
  imageFilename: rehydrate-s3-ep1.jpg
  topics: ~
  links: ~
  seconds: 3233
