---
layout: layouts/episode.njk
stuff:
  title: The Spell
  slug: the-spell
  season: 3
  number: 3
  date: 2021-04-25T00:00:00.000Z
  imageFilename: rehydrate-s3-ep3.jpg
  topics: ~
  links:
    - name: Tyler's Original Plan (via Frank)
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/mx35rx/wallfacer_frederick_tylers_original_plan/
    - name: Tyler's Original Plan Full Translation
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/5988jo/translation_tylers_original_plan_in_the_chinese/
    - name: Ball Lightning
      url: 'https://www.goodreads.com/book/show/32076670-ball-lightning'
  seconds: 3593
  extras:
  - title: Spoilercast
    imageFilename: rehydrate-s3-ep3-spoilercast.jpg
    episodeFilename: rehydrate-s3-ep3-the-spell-spoilercast.mp3
    desc: Dan, Amin, and Thalia talk about the entire Remembrance of Earth's Past series with full spoilers
    links:
      - name: Tyler's Original Plan (via Frank)
        url: >-
          https://www.reddit.com/r/threebodyproblem/comments/mx35rx/wallfacer_frederick_tylers_original_plan/
      - name: Tyler's Original Plan Full Translation
        url: >-
          https://www.reddit.com/r/threebodyproblem/comments/5988jo/translation_tylers_original_plan_in_the_chinese/
      - name: Ball Lightning
        url: 'https://www.goodreads.com/book/show/32076670-ball-lightning'
      - name: Clarke's Three Laws
        url: https://en.wikipedia.org/wiki/Clarke%27s_three_laws
    seconds: 2851