---
layout: layouts/episode.njk
stuff:
  title: The Storyless Kingdom
  slug: the-storyless-kingdom
  season: 5
  number: 4
  date: 2021-08-01T00:00:00.000Z
  imageFilename: rehydrate-s5-ep4.jpg
  topics: ~
  episodeSummary: /episodes/summaries/rehydrate-s5-ep4-summary/index.html
  links:
    - name: 'The Three-Body Problem: Cixin Liu''s Sci-Fi Novel Gets Podcast'
      url: >-
        https://gizmodo.com/the-three-body-problem-by-cixin-liu-has-become-a-serial-1847294788/amp
    - name: 'TBP showing up as a clue on Jeopardy!: threebodyproblem'
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/osywjp/tbp_showing_up_as_a_clue_on_jeopardy/
    - name: 'Just finished Death''s End and...: threebodyproblem'
      url: >-
        https://www.reddit.com/r/threebodyproblem/comments/orezsk/just_finished_deaths_end_and/
    - name: My Three Suns | Futurama Wiki | Fandom
      url: 'https://futurama.fandom.com/wiki/My_Three_Suns'
    - name: 'Flatland: The Film (2007)'
      url: 'https://www.youtube.com/watch?v=eyuNrm4VK2w'
    - name: Death'd End NPR Review
      url: >-
        https://www.npr.org/2016/09/27/494927821/deaths-end-brings-an-epic-trilogy-to-a-satisfying-close
    - name: >-
        Lesswrong: Book Trilogy Review: Remembrance of Earth’s Past (The Three
        Body Problem)
      url: >-
        https://www.lesswrong.com/posts/XgGwQ9vhJQ2nat76o/book-trilogy-review-remembrance-of-earth-s-past-the-three#The_Fairy_Tale
    - name: >-
        The afterlife of the Brothers Grimm’s fairy tales in China: Translation
        and reception
      url: >-
        https://www.researchgate.net/publication/280904956_The_afterlife_of_the_Brothers_Grimm's_fairy_tales_in_China_Translation_and_reception
  seconds: 5668
