---
layout: layouts/episode.njk
stuff:
  title: The Mayors and Traders
  slug: the-mayors-and-traders
  season: 6
  number: 2
  date: 2021-09-30T00:00:00.000Z
  imageFilename: rehydrate-s6-ep2.jpg
  episodeFilename: rehydrate-s6-ep2-the-mayors-and-traders.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Follow Up (0:01:32)'
    - 'Summary (0:02:15)'
    - 'Characters (0:04:58)'
    - 'TV Series (0:05:53)'
    - 'Overall Impressions (0:10:24)'
    - 'Religion as a Form of Control (0:13:21)'
    - 'Scientific Knowledge (0:20:29)'
    - 'Asserting Control Over Leopold (0:24:26)'
    - 'Seldon''s Second Message (0:26:19)'
    - 'Asimov''s Series Intentions (0:27:40)'
    - 'Foundation''s Impact on Enconomists (0:29:39)'
    - 'Part IV (0:32:05)'
    - 'Revolutionary (0:40:11)'
    - 'Final Thoughts (0:45:21)'
    - 'Outro (0:46:15)'
  links:
    - name: ' Paul Krugman: Asimov''s Foundation novels grounded my economics'
      url: >-
        https://www.theguardian.com/books/2012/dec/04/paul-krugman-asimov-economics
  episodeSummary: /episodes/summaries/rehydrate-s6-ep2-summary/index.html
  seconds: 2805
