---
layout: layouts/episode.njk
stuff:
  title: The Snow Project
  slug: the-snow-project
  season: 3
  number: 6
  date: 2021-05-30T00:00:00.000Z
  imageFilename: rehydrate-s3-ep6.jpg
  topics: ~
  links:
    - name: Fermi Paradox
      url: 'https://en.wikipedia.org/wiki/Fermi_paradox'
  episodeSummary: /episodes/summaries/rehydrate-s3-ep6-summary/index.html
  seconds: 3338
