---
layout: layouts/episode-page.njk
permalink: episodes/{{ stuff.slug }}/index.html
---
{% set src = stuff %}
      <section class="media">
        <ul class="media-list centered-col">
          {% include 'episode-pane.njk' %}
        </ul>
      </section>
