---
title: Rehydrate
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="alternate" type="application/rss+xml" title="Podcast RSS Feed" href="/rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:url" content="https://rehydrate.space" />
    <meta property="og:title" content="Rehydrate" />
    <meta
      property="og:description"
      content="A book discussion podcast. Books include 'The Three-Body Problem' by Liu Cixin, 'Foundation' by Isaac Asimov, and 'Dune' by Frank Herbert."
    />
    <meta property="og:site_name" content="Rehydrate" />
    {% set latestEpisodeStuff = collections.episodes[0].data.stuff %}
    {% include 'latest-episode-unfurl.njk' %}
  </head>

  <body class="centered-col">
    <header>
      <div id="main-header">
        <h1><a href="/">Rehydrate</a></h1>
        {% if pageHeading %}
        <h3>{{ pageHeading }}</h3>
        {% endif %}
      </div>
    </header>

    <div id="content">
      {{ content | safe }}
    </div>

    {% include 'footer.njk' %}

  </body>
</html>
