---
layout: layouts/main.njk
---

<section class="middle">
	{% set episode = collections.episodes | findEpisode(season, episode) %}
	{% set src = episode.data.stuff %}
	{% set hideBonus = true %}
	{% set useSummary = true %}
	<div class="media-list centered-col">
		{% include 'prev-next.njk' %}
		{% include 'index-episode-pane.njk' %}
	</div>

	{{ content | safe }}
</section>

